<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divConfirmDelete" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete Object
                </div>
                <div class="modal-body">
                    <label id="lblConfirmDelete">
                    </label>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="DeleteObject();">
                        Delete
                    </button>
                    <button class="btn btn-default" onclick="CloseDeleteObjectBox();">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>