
<div id="divCreateCategory" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <form id="formNewCategory" class="clsValidationForm">
        <label id="lblNewCategoryErrors" class="clsErrorMessage">
        </label>

        <label id="lblCategoryName" for="txtCategoryName">Name:</label>
        <input id="txtCategoryName" name="txtCategoryName" type="text" class="required" maxlength="64" />

        <input id="btnCreateCategory" type="button" value="Create" class="clsHalfButton" onclick="CreateNewCategory();" />
        <input id="btnCancelCreateCategory" type="button" value="Cancel" class="clsHalfButton" onclick="CloseNewCategoryBox();" />
    </form>
</div>