<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divImportBox" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    WERF Import
                </div>
                <div class="modal-body">
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>


<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divExportBox" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    WERF Export
                </div>
                <div class="modal-body">
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
