<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divEditLocalVariableBox" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Edit Local Variable
                </div>
                <div class="modal-body">
                    
                    <form id="formEditLocalVariable" class="clsValidationForm">
                        <label id="lblEditLocalVariableError" class="clsErrorMessage"></label>

                        <label for="txtLocalVariableName">Variable Name:</label>
                        <input id="txtLocalVariableName" name="txtLocalVariableName" class="required form-control" type="text" maxlength="64" />
                        
                        <label for="txtLocalVariableValue">Value:</label>
                        <input id="txtLocalVariableValue" name="txtLocalVariableValue" class="required form-control" type="text" maxlength="4000" />
                        
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="EditLocalVariableBoxOKClick();">OK</button>
                    <button class="btn btn-default" onclick="EditLocalVariableCancelClick();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

