<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divManageContentPackages" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete Object
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <label class="clsErrorMessage">WARNING: </label>
                        <p>Adjusting the content package list can take a very long time.
                        Please do not interrupt the process once it has started.</p>
                    
                        <div id="divAvailableContentPackagesList">
                            <label>Available Content Packages:</label>
                            <select id="selAvailableContentPackages" size="6" class="form-control"
                                data-bind="foreach: AvailableContentPackages">
                                <option data-bind="text: Name, value: FileName" ondblclick="ManageContentPackagesAddButton();"></option>
                            </select>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-7">
                            <button id="btnAddContentPackage" type="button" value="Add" class="btn btn-success"
                                onclick="ManageContentPackagesAddButton();">Add Package</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div id="divAttachedContentPackagesList">
                            <br />
                            <label>Attached Content Packages:</label>
                            <select id="selAttachedContentPackages" size="6" class="form-control"
                                data-bind="foreach: AttachedContentPackages">
                                <option data-bind="text: Name, value: FileName" ondblclick="ManageContentPackagesRemoveButton();"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-7">
                            <button id="btnRemoveContentPackage" type="button" value="Remove" class="btn btn-danger"
                                onclick="ManageContentPackagesRemoveButton();">Remove Package</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="ManageContentPackagesSaveChanges();">
                        Save Changes
                    </button>
                    <button class="btn btn-default" onclick="CloseManageContentPackagesBox();">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


