<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divNewModuleBox" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    New Module
                </div>
                <div class="modal-body">

                    <form id="formNewModule" class="clsValidationForm">
                        <label id="lblNewModuleError" class="clsErrorMessage"></label>

                        <label for="txtModuleName">Name:</label>
                        <input id="txtModuleName" name="txtModuleName" class="form-control"
                            required="required" type="text" maxlength="64" />

                        <label for="txtModuleTag">Tag:</label>
                        <input id="txtModuleTag" name="txtModuleTag"  class="form-control"
                            required="required" type="text" maxlength="32" />

                        <label for="txtModuleResref">Resref:</label>
                        <input id="txtModuleResref" name="txtModuleResref" class="form-control"
                             required="required" type="text" maxlength="32" />

                        <div id="divCreatingModuleProgressBar" class="progress progress-striped active clsHidden">
                            <div class="active progress-bar" 
                                role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                <span>Creating module. Please wait...</span>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="NewModuleBoxOKClick();">
                        Create
                    </button>
                    <button class="btn btn-default" onclick="NewModuleBoxCancelClick();">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


