

<div id="divNewObject" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <form id="formNewObject">
        <label id="lblNewObjectErrors" class="clsErrorMessage"></label>

        <label id="lblObjectName" for="txtObjectName">Name:</label>
        <input id="txtObjectName" name="txtObjectName" type="text" class="required" maxlength="64" />

        <label id="lblObjectTag" for="txtObjectTag">Tag:</label>
        <input id="txtObjectTag" name="txtObjectTag" type="text" class="required" maxlength="32" />

        <label id="lblObjectResref" for="txtObjectResref">Resref:</label>
        <input id="txtObjectResref" name="txtObjectResref" type="text" class="required" maxlength="32" />

        <input id="btnCreateObject" type="button" value="Create" class="clsHalfButton" onclick="CreateNewObject();" />
        <input id="btnCancelObject" type="button" value="Cancel" class="clsHalfButton" onclick="CloseNewObjectBox();" />

    </form>
</div>