
<div id="divRenameTreeNode" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <form id="formRenameTreeNode">
        <label id="lblRenameTreeNodeErrors" class="clsErrorMessage"></label>

        <label id="lblRenameTreeNode" for="txtRenameTreeNode">New Name:</label>
        <input id="txtRenameTreeNode" name="txtRenameTreeNode" type="text" class="required" maxlength="64" />

        <input id="btnRenameTreeNode" type="button" value="Rename" class="clsHalfButton" onclick="RenameObject();" />
        <input id="btnCancelRenameTreeNode" type="button" value="Cancel" class="clsHalfButton" onclick="CloseRenameObjectBox();" />
    </form>
</div>