<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divSaveAsModuleBox" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Save Module
                </div>
                <div class="modal-body">
                    Please select a file name for this module.

                    <label id="lblSaveAsErrors" class="clsErrorMessage"></label>

                    <select id="selModulesListSaveAs" size="5" class="form-control"
                        data-bind="foreach: ModuleList">
                        <option data-bind="text: FileName" onclick="SelectExistingSaveAsModule();" ondblclick="SaveAsModuleButtonClick();"></option>
                    </select>

                    <input id="txtSaveAsModuleFileName" name="txtSaveAsModuleFileName" type="text" class="form-control" />
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="SaveAsModuleButtonClick();">
                        Save
                    </button>
                    <button class="btn btn-default" onclick="CloseSaveAsModulePopUp();">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divSaveAsOverwriteConfirmation" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Overwrite File?
                </div>
                <div class="modal-body">
                    <p>The file name <span id="spnSaveAsModuleOverwriteName"></span> already exists.
                    Do you want to overwrite the file?</p>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="SaveAsModuleOverwriteButtonClick();">
                        Overwrite
                    </button>
                    <button class="btn btn-default" onclick="CloseSaveAsModuleConfirmationPopUp(true);">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
