
.clsCharacterSelectionHeader
{
    text-align:center;
    background-color: lightgrey;
    border: solid 1px;
    border-radius: 15px;
}

.clsCharacterListPanel
{
    background-color: lightgrey;
    border:solid 2px;
    width: 99%;
    text-align:center;
}


.clsPaneRounded
{
    border-radius: 15px;
    padding-bottom: 8px;
}

.clsPaneContent
{
    width: 100%;
    height: 100%;
}

.clsServerDetails
{
    width: 99.4%;
}

.clsCharacterSelectionButtonGroup
{
    width: 100%;
    float:left;
    padding-top: 10px;
}

.clsCharacterAttributeTable
{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsCharacterDetails
{
    background-color: lightgrey;
}

.clsServerNameHeader
{
    text-align: center;
    background-color:white;
    border: 1px solid;
}

.clsCharacterEntry
{
    text-align: center;
    height: 64px;
    font-weight: bold;
    border: solid 1px;
}

.clsCharacterEntry:hover
{
    background-color: #E8E4E4;
}

.clsCharacterEntry:active
{
    background-color: yellow;
}

.clsCharacterActive
{
    background-color: yellow;
}

.clsCharacterActive:hover
{
    background-color: yellow;
}