
.clsCharacterSelectionHeader
{
    text-align:center;
    background-color: lightgrey;
    border: solid 1px;
    border-radius: 15px;
}

.clsPaneHalfLeft
{
    width: 49%;
    height: 100%;
    float: left;
    background-color: lightgrey;
    border:solid 2px;
}

.clsPaneHalfRight
{
    width: 49%;
    height: 100%;
    float:right;
    background-color: lightgrey;
    border: solid 2px;
}

.clsPaneRounded
{
    border-radius: 15px;
    padding-bottom: 10px;
}

.clsPaneContent
{
    width: 100%;
    height: 100%;
}

.clsCharacterList
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 60%;
}

.clsServerDetails
{
    width: 99.4%;
}

.clsCharacterSelectionButtonGroup
{
    width: 100%;
    float:left;
    padding-top: 10px;
}

.clsCharacterAttributeTable
{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsLevelProgressBar
{
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsCharacterDetails
{
    background-color: lightgrey;
}

.clsServerNameHeader
{
    text-align: center;
    background-color:white;
    border: 1px solid;
}

.clsSkillsList
{
    text-align: center;
    float: left;
    width: 49%;
    border: 1px solid;
}

.clsAbilitiesList
{
    text-align: center;
    float: left;
    width: 49%;
    border:1px solid;
}

.clsCharacterPortrait
{
    width: 64px;
    height: 64px;
    float: left;
}

.clsCharacterEntry
{
    text-align: center;
    height: 64px;
    font-weight: bold;
}

.clsCharacterEntry:hover
{
    background-color: #E8E4E4;
}

.clsCharacterEntry:active
{
    background-color: yellow;
}

.clsCharacterActive
{
    background-color: yellow;
}