

/* GENERAL STYLES */
.clsCenter
{
    text-align:center;
}

body
{
    background-color:transparent;

    /* Disable highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input[type="button"]:hover
{
    background-color: #e8e4e4;
}

input[type="button"]:active
{
    background-color: yellow;
}

input[type="button"]
{
	background-color:#CCC;
   	border-style:solid;
	border-width: 1px;

}

/*ACTION BAR*/
.clsActionBarButton
{
	width: 32px;
	height: 32px;	
}

.clsActionBarTableCell
{
    float:left;
}

.clsActionBarDiv
{
	background-color:#AAA;
	display: inline;
}

.clsActionBarBody
{
	background-color:#AAA;
	display : block;
    overflow:hidden;
}

/* PARTY WINDOW */

.clsPartyBody
{
	background-color:#AAA;
}

.clsPartyMemberRow
{
	background-color:#CCC;
    height : 64px;
    width : 64px;
    float:left;
	border-style:solid;
	border-width: 1px;
}

/* CHARACTER AND INVENTORY */

.clsInventoryTableCell
{
    float:none;
    text-align:center;
}

.clsCharacterInformation
{
    background-color: #ccc;
    float:left;
    border:solid;
    border-width:1px;
    padding-right:2px;
}

.clsInventoryDiv
{
    background-color: #ccc;
    float:left;
}

.clsCharacterAttributeValues
{
    float:right;
    padding:2px;
}

.clsSmallFont
{
    font-size:12px;
}