

/* GENERAL STYLES */
.clsCenter
{
    text-align:center;
}

.clsNoHighlight
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="button"]:hover
{
    background-color: #e8e4e4;
}

input[type="button"]:active
{
    background-color: yellow;
}

/*ACTION BAR*/
.clsActionBarButton
{
	background-color:#CCC;
	width: 32px;
	height: 32px;
	border-style:solid;
	border-width: 1px;
	
}

.clsActionBarTableCell
{
    float:left;
}

.clsActionBarDiv
{
	background-color:#AAA;
	display: inline;
}

.clsActionBarBody
{
	background-color:#AAA;
	display : block;
    overflow:hidden;
}

/* PARTY WINDOW */

.clsPartyBody
{
	background-color:#AAA;
}

.clsPartyMemberRow
{
	background-color:#CCC;
    height : 64px;
    width : 64px;
    float:left;
	border-style:solid;
	border-width: 1px;
}