

/* GENERAL STYLES */
.clsCenter
{
    text-align:center;
}

/* MASONRY PLUGIN */

.clsMasonryContainer
{
    overflow : hidden;
}

.clsMasonryItem
{
}

.clsMasonryPlaceholderImage
{
    max-width : 128px;
    max-height : 96px;
    width: 128px;
    height: 96px;
}

/* JQUERY UI */

.clsDialogBoxNoTitle
{
}

/*ACTION BAR*/
.clsActionBarButton
{
	width: 32px;
	height: 32px;	
}

.clsActionBarTableCell
{
    float:left;
}

.clsActionBarDiv
{
	background-color:#AAA;
	display: inline;
}

.clsActionBarBody
{
	background-color:#AAA;
	display : block;
    overflow:hidden;
}

/* EXPERIENCE BAR */

.clsExperienceBar
{
}

/* PARTY WINDOW */

.clsPartyBody
{
	background-color:#AAA;
}

.clsPartyMemberRow
{
	background-color:#CCC;
    height : 64px;
    width : 64px;
    float:left;
	border-style:solid;
	border-width: 1px;
    list-style-type: none;
}

/* CHARACTER AND INVENTORY */

.clsInventoryTableCell
{
    float:none;
    text-align:center;
}

.clsCharacterInformation
{
    background-color: #ccc;
    float:left;
    border:solid;
    border-width:1px;
    padding-right:2px;
}

.clsInventoryDiv
{
    background-color: #ccc;
    float:left;
}

.clsCharacterAttributeValues
{
    float:right;
    padding:2px;
}

.clsSmallFont
{
    font-size:12px;
}
