
.clsMainMenuLogo
{
    width: 100%;
    border-radius: 15px;
}

.clsLoginInputBox
{
    width: 98%;
    height: 98%;
}

.clsLoginDiv
{
    overflow: hidden;
}

.clsCreateAccountDiv
{
    text-align:center;
}

.clsFRBLogo
{
    float:right;
    width: 28%;
    height: 150%;
}

.clsXNALogo
{
    float:right;
    width:25%;
    height:100%;
}

.clsFRBLogo:hover, .clsXNALogo:hover 
{
    opacity:0.5;
}
