
/* MAIN MENU */

.clsMainMenuLogo
{
    background-color : lightgrey;
    width: 100%;
}

body
{
    background-color : grey;
    overflow: hidden;

    /* Disable highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* BUTTONS */

input[type="button"]:hover:enabled
{
    background-color: #e8e4e4;
    border: 1px solid;
}

input[type="button"]:active:enabled
{
    background-color: yellow;
    border: 1px solid;
}

input[type="button"]
{
	background-color:#CCC;
   	border-style:solid;
	border-width: 1px;
    border: 1px solid;
}

/* TABLES */

table.clsServerList
{
    background-color: lightgrey;
    width: 100%;
}

thead
{
    background-color: darkgray;
    text-align: center;
    font-weight: bold;
}

td
{
    border: 1px solid;
    text-align: center;
}

/* GENERAL STYLES */

.clsCenter
{
    text-align: center;
}

.clsTitle
{
    text-align: center;
    background-color: lightgrey;
}

.clsErrorMessage
{
    color: orangered;
}

.clsHidden
{
    visibility:hidden;
    display:none;
}

.clsFullButton
{
    width: 100%;
    height: 100%;
    border:dashed 5px;
    padding: 10px;
    font-size:16px;
    font-weight:bold;
}

.clsHalfButton
{
    width: 50%;
    height: 100%;
    border: dashed 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    float:left
}

.clsQuarterButton
{
    width: 25%;
    height: 100%;
    border: dashed 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    float:left
}

.clsNonResizeable
{
    resize: none;
}

ul.clsNoBullets
{
    list-style-type: none;
}

/* JQUERY UI */
.jqueryUIDialogNoCloseButton .ui-dialog-titlebar-close
{
    display:none;
}

/* MAIN MENU */

.clsLoginInputBox
{
    width: 98%;
    height: 98%;
}

.clsLoginDiv
{
    overflow: hidden;
}

.clsCreateAccountDiv
{
    text-align:center;
}

.clsFRBLogo
{
    float:right;
    width: 28%;
    height: 150%;
}

.clsXNALogo
{
    float:right;
    width:25%;
    height:100%;
}

.clsFRBLogo:hover, .clsXNALogo:hover 
{
    opacity:0.5;
}

input.error
{
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

/* SERVER LIST */

.clsConnectButton
{
    background-color: lightblue;
}

/* CHARACTER SELECTION */

.clsCharacterSelectionHeader
{
    text-align:center;
    background-color: lightgrey;
    border: solid 1px;
    border-radius: 15px;
}

.clsPaneHalfLeft
{
    width: 49%;
    height: 100%;
    float: left;
    background-color: lightgrey;
    border:solid 2px;
}

.clsPaneHalfRight
{
    width: 49%;
    height: 100%;
    float:right;
    background-color: lightgrey;
    border: solid 2px;
}

.clsPaneRounded
{
    border-radius: 15px;
    padding-bottom: 10px;
}

.clsPaneContent
{
    width: 100%;
    height: 100%;
}

.clsCharacterList
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 60%;
}

.clsServerDetails
{
    width: 99.4%;
}

.clsCharacterSelectionButtonGroup
{
    width: 100%;
    float:left;
    padding-top: 10px;
}

.clsCharacterAttributeTable
{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsLevelProgressBar
{
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clsCharacterDetails
{
    background-color: lightgrey;
}

.clsServerNameHeader
{
    text-align: center;
    background-color:white;
    border: 1px solid;
}

.clsSkillsList
{
    text-align: center;
    float: left;
    width: 49%;
    border: 1px solid;
}

.clsAbilitiesList
{
    text-align: center;
    float: left;
    width: 49%;
    border:1px solid;
}

.clsCharacterPortrait
{
}

/* DATA TABLES */

.paging_full_numbers a.paginate_button 
{
    background-color: #DDDDDD;
}

.paging_full_numbers a.paginate_button:hover 
{
    background-color: #AAAAAA;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active 
{
    border: 1px solid #AAAAAA;
    color: #333333 !important;
    cursor: pointer;
    margin: 0 3px;
    padding: 2px 5px;
}

.dataTables_paginate.paging_full_numbers 
{
    margin: 10px;
    text-align: right;
}

.dataTables_filter
{
    float: right;
    background-color: lightgrey;
    padding: 2px;
    border: 1px solid;
}

.dataTables_info
{
    float:right;
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid;
    width: 200px;
}