
/* MAIN MENU */

.clsMainMenuLogo
{
    background-color : lightgrey;
    width: 100%;
}

body
{
    background-color : grey;
    overflow: hidden;

    /* Disable highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* BUTTONS */

input[type="button"]:hover:enabled
{
    background-color: #e8e4e4;
    border: 1px solid;
}

input[type="button"]:active:enabled
{
    background-color: yellow;
    border: 1px solid;
}

input[type="button"]
{
	background-color:#CCC;
   	border-style:solid;
	border-width: 1px;
    border: 1px solid;
}

/* TABLES */

table
{
    background-color: lightgrey;
    width: 100%;
}

thead
{
    background-color: darkgray;
    text-align: center;
    font-weight: bold;
}

td
{
    border: 2px solid;
}

/* GENERAL STYLES */

.clsCenter
{
    text-align: center;
}

.clsTitle
{
    text-align: center;
    background-color: lightgrey;
}

.clsErrorMessage
{
    color: orangered;
}

.clsHidden
{
    visibility:hidden;
    display:none;
}

.clsFullButton
{
    width: 100%;
    height: 100%;
    border:dashed 5px;
    padding: 10px;
    font-size:16px;
    font-weight:bold;
}

.clsHalfButton
{
    width: 50%;
    height: 100%;
    border: dashed 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    float:left
}

/* JQUERY UI */
.jqueryUIDialogNoCloseButton .ui-dialog-titlebar-close
{
    display:none;
}

/* MAIN MENU */

.clsLoginInputBox
{
    width: 98%;
    height: 98%;
}

.clsLoginDiv
{
    overflow: hidden;
}

.clsCreateAccountDiv
{
    text-align:center;
}

.clsFRBLogo
{
    float:right;
    width: 28%;
    height: 150%;
}

.clsXNALogo
{
    float:right;
    width:25%;
    height:100%;
}

.clsFRBLogo:hover, .clsXNALogo:hover 
{
    opacity:0.5;
}

input.error
{
    border-color: red;
    border-style: solid;
    border-width: 3px;
}

/* SERVER LIST */

.clsServerListDiv
{
    background-color: lightgrey;
}

/* DATA TABLES */

.paging_full_numbers a.paginate_button 
{
    background-color: #DDDDDD;
}

.paging_full_numbers a.paginate_button:hover 
{
    background-color: #AAAAAA;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active 
{
    border: 1px solid #AAAAAA;
    color: #333333 !important;
    cursor: pointer;
    margin: 0 3px;
    padding: 2px 5px;
}

.dataTables_paginate.paging_full_numbers 
{
    margin: 10px;
    text-align: right;
}

.dataTables_filter
{
    float: right;
    background-color: lightgrey;
    padding: 2px;
    border: 1px solid;
}

.dataTables_info
{
    float:right;
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid;
    width: 200px;
}