
body
{
    background-color:transparent;
    overflow: hidden;

    /* Disable highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* BUTTONS */

input[type="button"]:hover:enabled
{
    background-color: #e8e4e4;
}

input[type="button"]:active:enabled
{
    background-color: yellow;
}

input[type="button"]
{
	background-color:#CCC;
   	border-style:solid;
	border-width: 1px;

}

/* GENERAL STYLES */

.clsErrorMessage
{
    color: orangered;
}

.clsHidden
{
    visibility:hidden;
    display:none;
}

/* JQUERY UI */
.jqueryUIDialogNoCloseButton .ui-dialog-titlebar-close
{
    display:none;
}