html
{
	
	background-color: transparent;
	height:100%;
}

body
{
    margin: 0px;
    background-color: transparent;
	height:100%;
	
}

#divGlobalContainer
{
	height:100%;
}


/* Transparent Fillers */
/* Used to prevent UI from hiding game rendering*/

.clsFillerMain
{
    float: left;
    background-image:url('../../Images/Filler.png');
    width: 59%;
    height: 95%;
}

/* Object Bar */

.clsObjectBarDiv
{
    text-align: center;
}

.clsActiveObjectType
{
    border: 1px solid #26b3f7;
	background: #0972A4 url(../jQueryUI/images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
    font-weight: normal;
	margin: -1px;
	text-decoration: none;
}

.clsTreeViewDiv
{
}

#objectTabControls
{
	overflow: auto;	
}

/* Object Tabs Container */

#divObjectTabContainerButtons
{
	margin-top:3px;
}