
<div id="divButtonGroup" class="clsCharacterSelectionButtonGroup">

    <div class="row">
        
        <div class="span12 clsCenter">
            <input id="btnNewCharacter" type="button" class="clsFullButton" value="New Character" onclick="NewCharacterButton();" />
            <input id="btnDeleteCharacter" type="button" class="clsFullButton" value="Delete Character" onclick="DeleteCharacterButton();" />
            <input id="btnJoinServer" type="button" class="clsFullButton" value="Join Server" onclick="JoinServerButton();" />
            <input id="btnCancel" type="button" class="clsFullButton" value="Cancel" onclick="CancelCharacterSelectionButton();" />
        </div>
    
    </div>
        
</div>
