
<div id="divCharacterList">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Please select a character...</h3>
                </div>
                <div class="panel-body">

                    <div data-bind="foreach: Characters">
                        <div class="row">
                            <div class="list-group">


                                <a href="#" class="list-group-item"
                                    data-bind="css: {active: $index() == 0}">Test</a>

<!--                                <div class="list-group-item active" 
                                    data-bind="attr: {
                                                    onclick: 'LoadCharacterInformation(' + $index() + ');',
                                                    id: 'divCharacter' + $index()
                                                },
                                                css: { clsCharacterActive: $index() == CharacterSelectionViewModel.ActiveCharacterIndex() }">
                
                                    <div class="col-md-2">
                                        <img src="#" data-bind="attr: { src: CharacterSelectionViewModel.CharacterPortraits()[$index()] }" />
                                    </div>

                                    <div class="col-md-2">
                                        <span data-bind="text: FirstName() + ' ' + LastName()"></span>
                                        Race: <span data-bind="text: Race.Name"></span>
                                        Level: <span data-bind="text: Level"></span>
                                    </div>
                                    <div class="col-md-2">
                                        STR: <span data-bind="text: Strength"></span>
                                        DEX: <span data-bind="text: Dexterity"></span>
                                        CON: <span data-bind="text: Constitution"></span>
                                    </div>
                
                                    <div class="col-md-2">
                                        INT: <span data-bind="text: Intelligence"></span>
                                        WIS: <span data-bind="text: Wisdom"></span>
                                    </div>-->

                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

</div>