
<div id="divLeftPane" class="clsCharacterListPanel clsPaneRounded row">

    <div id="divCharacterList" class="clsCharacterList">
        <h3 class="clsCenter">Please select a character...</h3>
        <hr />
        
        <div style="height: 300px; overflow:auto" data-bind="foreach: Characters">
            <div class="clsCharacterEntry" 
                data-bind="attr: { onclick: 'LoadCharacterInformation(' + $index() + ');',
                                   id: 'divCharacter' + $index() },
                                   css: { clsCharacterActive: $index() == CharacterSelectionViewModel.ActiveCharacterIndex() }">
                
                <div class="span2">
                    <img src="#" data-bind="attr: { src: CharacterSelectionViewModel.CharacterPortraits()[$index()] }" />
                </div>

                <div class="span2">
                    <span data-bind="text: FirstName() + ' ' + LastName()"></span>
                    <br />
                    Race: <span data-bind="text: Race.Name"></span>
                    <br />
                    Level: <span data-bind="text: Level"></span>
                </div>
                <div class="span2">
                    STR: <span data-bind="text: Strength"></span>
                    <br />
                    DEX: <span data-bind="text: Dexterity"></span>
                    <br />
                    CON: <span data-bind="text: Constitution"></span>
                </div>
                
                <div class="span2">
                    INT: <span data-bind="text: Intelligence"></span>
                    <br />
                    WIS: <span data-bind="text: Wisdom"></span>
                </div>

            </div>
        </div>
    </div>

</div>