
<div id="divRightPane" class="clsPaneHalfRight clsPaneRounded">
        
    <div id="divCharacterInformation">
        <h2 class="clsCenter">Character Information</h2>
        <hr />
            
        <div id="divCharacterPortrait" class="clsCharacterPortrait">

        </div>

        <div id="divCharacterDetails" class="clsCharacterDetails">

            <div class="clsCenter">
                <b>
                    <span id="spnCharacterName" >Please select a character</span>
                </b> 
                <span id="spnCharacterRace"></span>
            </div> 
            <br />
            <table id="tblCharacterAttributes" class="clsCharacterAttributeTable">
                <thead>
                    <tr>
                        <th><b>STR</b></th>
                        <th><b>CON</b></th>
                        <th><b>DEX</b></th>
                        <th><b>INT</b></th>
                        <th><b>WIS</b></th>
                    </tr>
                </thead>
                <tr>
                    <td id="tdStrengthValue">N/A</td>
                    <td id="tdConstitutionValue">N/A</td>
                    <td id="tdDexterityValue">N/A</td>
                    <td id="tdIntelligenceValue">N/A</td>
                    <td id="tdWisdomValue">N/A</td>

                </tr>
            </table>
            <br />
            <div id="divLevelProgressBar" class="clsLevelProgressBar"></div>

        </div>
    </div>
</div>