
<div id="divRightPane" class="clsPaneHalfRight clsPaneRounded">
        
    <div id="divCharacterInformation">
        <h3 class="clsCenter">Character Information</h3>
        <hr />
            
        <div id="divCharacterPortrait" class="clsCharacterPortrait">

        </div>

        <div id="divCharacterDetails" class="clsCharacterDetails">

            <b>Name: </b>             
            <span id="spnCharacterName"
                data-bind="text: ActiveCharacter.FirstName() + ' ' + ActiveCharacter.LastName()">
            </span>
            
            <br />
            <b>Race: </b>
            <span id="spnCharacterRace"
                data-bind="text: ActiveCharacter.Race.Name">
            </span>
        
            <br />
            <table id="tblCharacterAttributes" class="clsCharacterAttributeTable">
                <thead>
                    <tr>
                        <th><b>STR</b></th>
                        <th><b>CON</b></th>
                        <th><b>DEX</b></th>
                        <th><b>INT</b></th>
                        <th><b>WIS</b></th>
                    </tr>
                </thead>
                <tr>
                    <td id="tdStrengthValue"
                        data-bind="text: ActiveCharacter.Strength">
                    </td>
                    <td id="tdConstitutionValue"
                        data-bind="text: ActiveCharacter.Constitution">
                    </td>
                    <td id="tdDexterityValue"
                        data-bind="text: ActiveCharacter.Dexterity">
                    </td>
                    <td id="tdIntelligenceValue"
                        data-bind="text: ActiveCharacter.Intelligence">
                    </td>
                    <td id="tdWisdomValue"
                        data-bind="text: ActiveCharacter.Wisdom">
                    </td>

                </tr>
            </table>
            <br />
            <div id="divLevelProgressBar" class="clsLevelProgressBar"></div>

        </div>
    </div>
</div>