<form id="formClasses" class="clsFormValidation">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Available Classes
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div data-bind="foreach: ClassList">
                            <a href="#" class="list-group-item" 
                                data-bind="css: { active: $index() == CharacterCreationViewModel.ActiveClassIndex() },
                                            attr: { onclick: 'SelectClass(' + $index() + ');' },
                                            text: Name"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Description
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>

</form>