
<div style="overflow:auto; max-height: 500px">
    <table id="tblServerList" class="clsServerList">
        <thead>
            <tr>
                <td>Server Name</td>
                <td>Address</td>
                <td>Max Level</td>
                <td>Players</td>
                <td>Game Type</td>
                <td>PVP Type</td>
                <td>Connect</td>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
</div>
        
<div class="row-fluid">&nbsp;</div>
<div class="row-fluid">

    <input id="btnMainMenu" style="width: 100%;"  value="Return to Main Menu" type="button" onclick="GoToMainMenu();" />
</div>