
<div style="overflow:auto; max-height: 500px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Server List</h4>
        </div>
        <div class="panel-body">
            <table id="tblServerList" class="table table-bordered">
                <thead>
                    <tr>
                        <td>Server Name</td>
                        <td>Address</td>
                        <td>Max Level</td>
                        <td>Players</td>
                        <td>Game Type</td>
                        <td>PVP Type</td>
                        <td>Connect</td>
                    </tr>
                </thead>
                <tbody class="table-striped">
                </tbody>

            </table>
        </div>
    </div>
</div>
        
<div class="row">

    <div class="panel panel-default">
        <div class="panel-body" style="text-align:center;">
            <div class="btn-group">
                <button id="btnRefresh" value="Refresh List" type="button" class="btn btn-primary" onclick="GetAllServers();">Refresh List</button>
                <button id="btnMainMenu" value="Return to Main Menu" type="button" class="btn btn-default" onclick="GoToMainMenu();">Return to Main Menu</button>
            </div>
        </div>
    </div>
</div>