<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/GameStyles.css" />
    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
</head>
<body class="clsActionBarBody">
        <table id="tblActionBar">
            <tbody>
                <tr class="clsNoHighlight">
                    <td>
                        <input id="btnHotBar1" type="button" value="1" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar2" type="button" value="2" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar3" type="button" value="3" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar4" type="button" value="4" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar5" type="button" value="5" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar6" type="button" value="6" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar7" type="button" value="7" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar8" type="button" value="8" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar9" type="button" value="9" class="clsActionBarButton clsNoHighlight" /></td>
                    <td>
                        <input id="btnHotBar10" type="button" value="10" class="clsActionBarButton clsNoHighlight" /></td>
                </tr>
            </tbody>
        </table>
</body>
</html>
