<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../Styling/Themes/style.css" />
    <!--<link rel="stylesheet" href="../Styling/Game/GameStyles.css" /> -->
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />

    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
</head>
<body>

    <table id="tblActionBar">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
                <td>
                    8
                </td>
                <td>
                    9
                </td>
                <td>
                    10
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>