<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/MenuStyles.css" />

    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/CharacterSelection.js"></script>

    <script>
        $(document).ready(function () {
            Initialize();
        });
    </script>

</head>
<body>
    
    <div id="divServerNameAndAnnouncement">
        
        <div id="divServerName" class="clsServerNameHeader">
            <b>Server Name</b>
        </div>
        <textarea id="tarServerAnnouncements" 
            rows="3" 
            class="clsNonResizeable clsServerDetails" 
            readonly="readonly">Announcement:
        </textarea>

    </div>
    <br />
    <div id="divLeftPane" class="clsPaneHalfLeft clsPaneRounded">


        <div id="divCharacterList" class="clsCharacterList">
            <h2 class="clsCenter">Character List</h2>
            <hr />
        </div>

    </div>

    <div id="divRightPane" class="clsPaneHalfRight clsPaneRounded">
        
        <div id="divCharacterInformation">
            <h2 class="clsCenter">Character Information</h2>
            <hr />
            
            <div id="divCharacterPortrait" class="clsCharacterPortrait">

            </div>

            <div id="divCharacterDetails" class="clsCharacterDetails">

                <div class="clsCenter">
                    <b>Zunath Zintuachi</b> (Human)
                </div> 
                <br />
                <table id="tblCharacterAttributes" class="clsCharacterAttributeTable">
                    <thead>
                        <tr>
                            <th><b>STR</b></th>
                            <th><b>CON</b></th>
                            <th><b>DEX</b></th>
                            <th><b>INT</b></th>
                            <th><b>WIS</b></th>
                        </tr>
                    </thead>
                    <tr>
                        <td id="tdStrengthValue">20</td>
                        <td id="tdConstitutionValue">20</td>
                        <td id="tdDexterityValue">20</td>
                        <td id="tdIntelligenceValue">20</td>
                        <td id="tdWisdomValue">20</td>

                    </tr>
                </table>
                <br />
                <div id="divSkills" class="clsSkillsList">
                    <b>Skills</b>
                </div>

                <div id="divAbilities" class="clsAbilitiesList">
                    <b class="clsCenter">Abilities</b>


                </div>
                <br />
                <br />
                <div id="divLevelProgressBar" class="clsLevelProgressBar">
                    
                </div>

            </div>

        </div>

    </div>

    <div id="divButtonGroup" class="clsCharacterSelectionButtonGroup">

        <input id="btnNewCharacter" type="button" value="New Character" class="clsQuarterButton" />
        <input id="btnDeleteCharacter" type="button" value="Delete Character" class="clsQuarterButton" />
        <input id="btnJoinServer" type="button" value="Join" class="clsQuarterButton" />
        <input id="btnCancel" type="button" value="Cancel" class="clsQuarterButton" />
        
    </div>
</body>
</html>