<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/MenuStyles.css" />


    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/MainMenu.js"></script>

    <script>
        $(document).ready(function () {
            Initialize();
        });
    </script>
</head>
<body>

    <img src="../Images/WinterEngineLogo.png" class="clsMainMenuLogo" />
    <br />
    <input id="btnLoginLogout" type="button" value="Login" class="clsFullButton" onclick="LoginButton();" data-mode="login" />
    <input id="btnProfile" type="button" value="My Profile" class="clsFullButton" disabled="disabled" onclick="OpenUserProfileBox();" />
    <input id="btnFindServer" type="button" value="Find Server" class="clsFullButton" onclick="FindServerButton();" disabled="disabled" />
    <input id="btnToolset" type="button" value="Toolset" class="clsFullButton" onclick="ToolsetButton();" />
    <input id="btnSettings" type="button" value="Game Settings" class="clsFullButton" onclick="SettingsButton();" />
    <input id="btnWebsite" type="button" value="Website" class="clsFullButton" onclick="WebsiteButton();" />
    <input id="btnForums" type="button" value="Forums" class="clsFullButton" onclick="ForumsButton();" />
    <input id="btnExit" type="button" value="Exit" class="clsFullButton" onclick="ExitButton();" />

    <img id="imgXNALogo" src="../Images/xnalogo.png" class="clsXNALogo" onclick="XNALogoLink();" />
    <img id="imgFRBLogo" src="../Images/FRBLogo.png" class="clsFRBLogo" onclick="FlatRedBallLogoLink();" />


    <div id="divLogin" class="clsLoginDiv">

        <form id="formLogin">

            <label id="lblUsername" for="txtUsername">Username:</label>
            <input id="txtUsername" name="txtUsername" maxlength="32" type="text" class="clsLoginInputBox required" />
            <label id="lblPassword" for="txtPassword">Password:</label>
            <input id="txtPassword" name="txtPassword" maxlength="60" type="password" class="clsLoginInputBox required" />
            <br />
            <input id="chkSaveCredentials" type="checkbox" title="test" />
            <label for="chkSaveCredentials">Save credentials</label>
            <br />
            <div id="divLoggingInProgressBarContainer" class="clsHidden">
                <br />
                <div id="divLoggingInProgressBar"></div>
            </div>
            <label id="lblErrorMessage" class="clsErrorMessage clsHidden">Incorrect username or password</label>
            <br />
            <input id="btnLogin" type="button" value="Login" class="clsHalfButton" onclick="DoLogin();" />
            <input id="btnCancelLogin" type="button" value="Cancel" class="clsHalfButton" onclick="CloseLoginBox();" />
            <br />
            <div class="clsCreateAccountDiv">
                <input id="btnCreateAccount" type="button" value="Create Account" class="clsFullButton" onclick="CreateAccountOpenBox();" />
            </div>

        </form>
    </div>


    <div id="divUserProfile" class="clsLoginDiv">

        <form id="formUserProfile">
            <label id="lblProfileError" class="clsErrorMessage clsHidden"></label>
            <br />


            <label id="lblProfileUsername" for="txtProfileUsername">Username:</label>
            <input id="txtProfileUsername" name="txtProfileUsername" type="text" disabled="disabled" readonly="true" class="clsLoginInputBox required" maxlength="32"/>

            <label id="lblProfilePassword" for="txtProfilePassword">Change Password:</label>
            <input id="txtProfilePassword" name="txtProfilePassword" type="password" class="clsLoginInputBox" maxlength="60"/>

            <label id="lblConfirmProfilePassword" for="txtConfirmProfilePassword">Confirm Change Password:</label>
            <input id="txtConfirmProfilePassword" name="txtConfirmProfilePassword" type="password" class="clsLoginInputBox" maxlength="60" equalto="#txtProfilePassword" />

            <label id="lblEmail" for="txtEmail">Email:</label>
            <input id="txtEmail" name="txtEmail" type="text" class="clsLoginInputBox required" maxlength="254" />

            <label id="lblFirstName" for="txtFirstName">First Name:</label>
            <input id="txtFirstName" name="txtFirstName" type="text" class="clsLoginInputBox" maxlength="25" />

            <label id="lblLastName" for="txtLastName">Last Name:</label>
            <input id="txtLastName" name="txtLastName" type="text" class="clsLoginInputBox" maxlength="25" />

            <label id="lblDOB" for="txtDOB">Birthday:</label>
            <input id="txtDOB" name="txtDOB" type="text" class="clsLoginInputBox" />

            <br />
            <br />

            <div id="divRecaptcha"></div>

            <input id="btnSaveProfile" type="button" value="Save Changes" class="clsHalfButton" onclick="SaveProfileButton();" />
            <input id="btnCancelProfile" type="button" value="Cancel" class="clsHalfButton" onclick="CloseUserProfileBox();" />
        </form>
    </div>

    <div id="divSuccessBox">
        <label id="lblSuccessMessage"></label>
        <br />
        <br />
        <input id="btnSuccessOK" type="button" value="OK" class="clsFullButton" onclick="CloseSuccessBox();" />
    </div>

    <div id="divAccountNotActivatedBox">
        <label id="lblAccountNotActivatedMessage">Your account has not been activated. Please check your email for a link to activate your account.</label>
        <br />
        <br />
        <input id="btnAccountNotActivatedOK" type="button" value="OK" class="clsHalfButton" onclick="CloseAccountNotActivatedBox();" />
        <input id="btnAccountNotActivatedResendEmail" type="button" value="Resend Email" class="clsHalfButton" onclick="ResendAccountActivationEmail();" />
    </div>

    <div id="divConfirmLogout">
        <label id="lblConfirmLogout">Are you sure you want to log out?</label>
        <br />
        <br />
        <input id="btnLogoutConfirm" type="button" value="Logout" class="clsHalfButton" onclick="DoLogout();" />
        <input id="btnLogoutCancel" type="button" value="Cancel" class="clsHalfButton" onclick="CloseConfirmLogoutBox();" />
    </div>

</body>
</html>
