<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />
    <link rel="stylesheet" href="../Styling/Game/MainMenuStyles.css" />


    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.masonry.min.js"></script>
    <script src="../Scripts/MainMenu.js"></script>
</head>
<body class="clsMainMenuBackground">
    <img src="../Images/WinterEngineLogo.png" class="clsMainMenuLogo"/>
    <br />
    <input type="button" value="Find Server" class="clsMainMenuButton" onclick="FindServerButton();"/>
    <input type="button" value="Toolset" class="clsMainMenuButton" onclick="ToolsetButton();" />
    <input type="button" value="Settings" class="clsMainMenuButton" onclick="SettingsButton();" />
    <input type="button" value="Forums" class="clsMainMenuButton" onclick="ForumsButton();" />
    <input type="button" value="Exit" class="clsMainMenuButton" onclick="ExitButton();" />

</body>
</html>