<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../Styling/Game/MenuStyles.css" />
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />

    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/jquery.dataTables.min.js"></script>
    <script src="../Scripts/ServerList.js"></script>

</head>
<body>
    <div id="divServerListContent">
        <h2 class="clsTitle">Server List</h2>
        
        <label id="test">Testttt</label>
        <input id="btnTest" value="Refresh" type="button" onclick="GetAllServers();" />

        <table id="tblServerList">
            <thead>
                <tr>
                    <td>Server Name
                    </td>
                    <td>Address
                    </td>
                    <td>Max Level
                    </td>
                    <td>Players
                    </td>
                    <td>Game Type
                    </td>
                    <td>PVP Type
                    </td>
                    <td>Join
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
        <br />
        <br />
        
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            Initialize();
        });

    </script>

</body>
</html>
