<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../Styling/Game/GameStyles.css" />
    <link rel="stylesheet" href="../Styling/DataTables/jquery.dataTables.css" />
    <link rel="stylesheet" href="../Styling/DataTables/jquery.dataTables_themeroller.css" />

    <script src="../Scripts/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.dataTables.min.js" type="text/javascript"></script>

</head>
<body>
    
    <table id="tblServerList">
        <thead>
            <tr>
                <td>
                    Server Name
                </td>
                <td>
                    Address
                </td>
                <td>
                    Max Level
                </td>
                <td>
                    Players
                </td>
                <td>
                    Game Type
                </td>
                <td>
                    PVP Type
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <script type="text/javascript">
        $(document).ready(function test() {
            var servers = $.getJSON('https://www.winterengine.com/api/APIControllers/Server/GetAllActiveServers', function (data) {
                var servers = [];

                $.each(data, function (ipAddress, port, name, description, maxLevel, maxPlayers, currentPlayers, gameType, pvpType) {
                    var row;
                    row.push('<tr>');
                    row.push('<td>' + name + '</td>');
                    row.push('<td>' + ipAddress + ':' + port + '</td>');
                    row.push('<td>' + maxLevel + '</td>');
                    row.push('<td>' + currentPlayers + ' / ' + maxPlayers + '</td>');
                    row.push('<td>' + gameType + '</td>');
                    row.push('<td>' + pvpType + '</td>');
                    row.push('</tr>');

                    $('#tblServerList').append(row);
                });
            });
        });
    </script>

</body>
</html>