<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />
    <link rel="stylesheet" href="../Styling/Toolset/ToolsetStyles.css" />
    
    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/jquery.jstree.js"></script>
    <script src="../Scripts/Toolset.Initialization.js"></script>
    <script src="../Scripts/Toolset.MenuBar.js"></script>
    <script src="../Scripts/Toolset.ObjectBar.js"></script>

    <script>
        $(document).ready(function () {
            Initialize();
        });
    </script>

</head>
<body>
    
    <div id="divMenuBar">

        <ul id="ulMenu">
            <li>
                <a href="#">File</a>
                <ul>
                    <li>
                        <a href="#" onclick="NewModuleButtonClick();">
                            New Module
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="OpenModuleButtonClick();">
                            Open Module
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="CloseModuleButtonClick();">
                            Close Module
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="SaveModuleButtonClick();">
                            Save
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="SaveAsModuleButtonClick();">
                            Save As...
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="ImportButtonClick();">
                            Import
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="ExportButtonClick();">
                            Export
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Recent Files
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="ExitButtonClick();">
                            Exit
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Edit</a>
                <ul>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="UndoButtonClick();">
                            Undo
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="RedoButtonClick();">
                            Redo
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="CopyButtonClick();">
                            Copy
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="CutButtonClick();">
                            Cut
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="PasteButtonClick();">
                            Paste
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="ModulePropertiesButtonClick();">
                            Module Properties
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Content</a>
                <ul>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="ManageContentPackagesButtonClick();">
                            Manage Content Packages
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="ContentPackageCreatorButtonClick();">
                            Content Package Creator
                        </a>
                    </li>
                    <li class="ui-state-disabled">
                        <a href="#" onclick="BuildModuleButtonClick();">
                            Build Module
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Help</a>
                <ul>
                    <li>
                        <a href="#" onclick="WinterEngineWebsiteButtonClick();">
                            Winter Engine Website
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="AboutButtonClick();">
                            About
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="divObjectBar" class="clsObjectBarDiv">
        <ul id="ulObjectBar">
            <li id="liAreas" class="clsActiveObjectType">
                <a href="#" onclick="AreasButtonClick();">
                    Areas
                </a>
            </li>
            <li id="liCreatures">
                <a href="#" onclick="CreaturesButtonClick();">    
                    Creatures
                </a>
            </li>
            <li id="liItems">
                <a href="#" onclick="ItemsButtonClick();">
                    Items
                </a>
            </li>
            <li id="liPlaceables">
                <a href="#" onclick="PlaceablesButtonClick();">
                    Placeables
                </a>
            </li>
            <li id="liConversations">
                <a href="#" onclick="ConversationsButtonClick();">
                    Conversations
                </a>
            </li>
            <li id="liScripts">
                <a href="#" onclick="ScriptsButtonClick();">
                    Scripts
                </a>
            </li>
            <li id="liGraphics">
                <a href="#" onclick="GraphicsButtonClick();">
                    Graphics
                </a>
            </li>
        </ul>
    </div>

    <div id="divTreeView" class="clsTreeViewDiv">

        <ul>
            <li><a>xxx</a></li>
            <li><a>aaa</a>
                <ul>
                    <li>
                        <a>Test 3</a>
                    </li>
                    <li>
                        <a>Test 4</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="divNewModuleBox">
        
        <label id="lblNewModuleError" class="clsHidden clsErrorMessage">There was an error creating a new module.</label>

        <form id="formNewModule">
            <label for="txtModuleName">Name:</label>
            <br />
            <input id="txtModuleName" class="required" type="text" maxlength="64" />
            <br />
            <label for="txtModuleTag">Tag:</label>
            <br />
            <input id="txtModuleTag" class="required" type="text" maxlength="32" />
            <br />
            <br />
            <input id="btnNewModuleOK" type="button" class="clsHalfButton" value="OK" onclick="NewModuleBoxOKClick();" />
            <input id="btnNewModuleCancel" type="button" class="clsHalfButton" value="Cancel" onclick="NewModuleBoxCancelClick();" />
        </form>
    </div>

    <div id="divOpenModuleBox">

    </div>

    <div id="divImportBox">

    </div>

    <div id="divExportBox">

    </div>

    <div id="divModulePropertiesBox">

    </div>

    <div id="divManageContentPackagesBox">

    </div>

    <div id="divContentPackageCreatorBox">

    </div>

    <div id="divAboutBox">
        <label id="lblAboutBox">
            Winter Engine Toolset developed by Zunath.
            <br />
            <br />
            https://www.winterengine.com/
        </label>
        <br />
        <br />
        <input id="btnAboutBoxOK" type="button" class="clsFullButton" value="OK" onclick="AboutBoxClose();"/>
    </div>

</body>
</html>