<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />
    <link rel="stylesheet" href="../Styling/Game/ToolsetStyles.css" />
    
    <script src="../Scripts/jquery-2.0.0.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/Toolset.js"></script>

    <script>
        $(document).ready(function () {
            Initialize();
        });
    </script>

</head>
<body>

    <div id="divMenuBar">

        <ul id="ulMenu">
            <li>
                <a href="#">File</a>
                <ul class="subnav">
                    <li>
                        New Module
                    </li>
                    <li>
                        Open Module
                    </li>
                    <li>
                        Close Module
                    </li>
                    <li>
                        Save
                    </li>
                    <li>
                        Save As...
                    </li>
                    <li>
                        Import
                    </li>
                    <li>
                        Export
                    </li>
                    <li>
                        Recent Files
                    </li>
                    <li>
                        Exit
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Edit</a>
                <ul class="subnav">
                    <li>

                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Content</a>
                <ul class="subnav">
                    <li>

                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Help</a>
                <ul class="subnav">
                    <li>

                    </li>
                </ul>
            </li>
        </ul>

    </div>



</body>
</html>