
<div id="divConnectingToServer">

    <div class="row-fluid">&nbsp;</div>
    <label id="lblConnectingToServer">
        Please wait while a connection to the server is established.
    </label>
    <div class="row-fluid">&nbsp;</div>

    <div class="row-fluid">
        <div id="divDownloadProgress" class="clsHidden"></div>
    </div>
    
    <div class="row-fluid">
        <div class="clsProgressBar"></div>
    </div>

    <div class="row-fluid">&nbsp;</div>

    <div class="row-fluid clsCenter">
        <input id="btnCancel" type="button" value="Cancel" class="clsFullButton" onclick="CancelConnectToServer();" />
    </div>
</div>
