
<div id="divUnableToConnectToServer">
            
    <div class="row">&nbsp;</div>
    <div class="row">
        <label id="lblUnableToConnectToServer">
            Unable to establish connection to server.
        </label>
        <br />
        Reason: <label id="lblConnectionFailureReason"></label>
    </div>
            
    <div class="row">&nbsp;</div>
    <div class="row">
        <input id="btnUnableToConnectOK" type="button" value="OK" class="clsFullButton" onclick="UnableToConnectToServerClose();" />
    </div>
</div>