<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">

    <div id="divAccountNotActivatedBox" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Account Not Activated
                </div>
                <div class="modal-body">
                    <label id="lblAccountNotActivatedMessage">Your account has not been activated. Please check your email for a link to activate your account.</label>
                </div>

                <div class="modal-footer">
                    <button id="btnAccountNotActivatedOK" class="btn btn-default" data-dismiss="modal">
                        OK
                    </button>
                    <button id="btnAccountNotActivatedResendEmail" class="btn btn-primary" onclick="ResendAccountActivationEmail();">
                        Resend Email
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>