<div id="divMenuBar">

    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b>File</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#divNewModuleBox">
                                <b>
                                    New Module
                                </b>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ShowOpenModulePopUp();">
                                <b>
                                    Open Module
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'CloseModuleButtonClick();' : '' }">
                                <b>
                                    Close Module
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'SaveModuleButtonClick();' : '' }">
                                <b>
                                    Save
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'ShowSaveAsModulePopUp();' : '' }">
                                <b>
                                    Save As...
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'ImportButtonClick();' : '' }">
                                <b>
                                    Import
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'ExportButtonClick();' : '' }">
                                <b>
                                    Export
                                </b>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="ExitButtonClick(this);">
                                <b>
                                    Exit
                                </b>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b>Edit</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'UndoButtonClick();' : '' }">
                                <b>
                                    Undo
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'RedoButtonClick();' : '' }">
                                <b>
                                    Redo
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'CopyButtonClick();' : '' }">
                                <b>
                                    Copy
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'CutButtonClick();' : '' }">
                                <b>
                                    Cut
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'PasteButtonClick();' : '' }">
                                <b>
                                    Paste
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'ModulePropertiesButtonClick();' : '' }">
                                <b>
                                    Module Properties
                                </b>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b>Content</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'ManageContentPackagesButtonClick();' : '' }">
                                <b>
                                    Manage Content Packages
                                </b>
                            </a>
                        </li>
                        <li data-bind="css: { disabled: IsModuleOpened() == false }">
                            <a href="#" data-bind="attr: { onclick: IsModuleOpened() == true ? 'BuildModuleButtonClick();' : '' }">
                                <b>
                                    Build Module
                                </b>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b>Help</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="WinterEngineWebsiteButtonClick(this);">
                                <b>
                                    Winter Engine Website
                                </b>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#divAboutBox">
                                <b>
                                    About
                                </b>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>