<div id="divMenuBar" class="row-fluid">
    <ul id="ulMenu">
        <li>
            <a href="#">File</a>
            <ul>
                <li id="liNewModuleButton">
                    <a id="aNewModuleButton" href="#" onclick="NewModuleButtonClick(this);">New Module
                    </a>
                </li>
                <li id="liOpenModuleButton">
                    <a id="aOpenModuleButton" href="#" onclick="ShowOpenModulePopUp(this);">Open Module
                    </a>
                </li>
                <li id="liCloseModuleButton" class="ui-state-disabled">
                    <a id="aCloseModuleButton" href="#" onclick="CloseModuleButtonClick(this);">Close Module
                    </a>
                </li>
                <li id="liSaveModuleButton" class="ui-state-disabled">
                    <a id="aSaveModuleButton" href="#" onclick="SaveModuleButtonClick(this);">Save
                    </a>
                </li>
                <li id="liSaveAsButton" class="ui-state-disabled">
                    <a id="aSaveAsButton" href="#" onclick="ShowSaveAsModulePopUp(this);">Save As...
                    </a>
                </li>
                <li id="liImportButton" class="ui-state-disabled">
                    <a id="aImportButton" href="#" onclick="ImportButtonClick(this);">Import
                    </a>
                </li>
                <li id="liExportButton" class="ui-state-disabled">
                    <a id="aExportButton" href="#" onclick="ExportButtonClick(this);">Export
                    </a>
                </li>
                <li id="liExitButton">
                    <a id="aExitButton" href="#" onclick="ExitButtonClick(this);">Exit
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Edit</a>
            <ul>
                <li id="liUndoButton" class="ui-state-disabled">
                    <a id="aUndoButton" href="#" onclick="UndoButtonClick(this);">Undo
                    </a>
                </li>
                <li id="liRedoButton" class="ui-state-disabled">
                    <a id="aRedoButton" href="#" onclick="RedoButtonClick(this);">Redo
                    </a>
                </li>
                <li id="liCopyButton" class="ui-state-disabled">
                    <a id="aCopyButton" href="#" onclick="CopyButtonClick(this);">Copy
                    </a>
                </li>
                <li id="liCutButton" class="ui-state-disabled">
                    <a id="aCutButton" href="#" onclick="CutButtonClick(this);">Cut
                    </a>
                </li>
                <li id="liPasteButton" class="ui-state-disabled">
                    <a id="aPasteButton" href="#" onclick="PasteButtonClick(this);">Paste
                    </a>
                </li>
                <li id="liModulePropertiesButton" class="ui-state-disabled">
                    <a id="aModulePropertiesButton" href="#" onclick="ModulePropertiesButtonClick(this);">Module Properties
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Content</a>
            <ul>
                <li id="liManageContentPackagesButton" class="ui-state-disabled">
                    <a id="aManageContentPackagesButton" href="#" onclick="ManageContentPackagesButtonClick(this);">Manage Content Packages
                    </a>
                </li>
                <li id="liBuildModuleButton" class="ui-state-disabled">
                    <a id="aBuildModuleButton" href="#" onclick="BuildModuleButtonClick(this);">Build Module
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Help</a>
            <ul>
                <li id="liWinterEngineWebsiteButton">
                    <a id="aWinterEngineWebsiteButton" href="#" onclick="WinterEngineWebsiteButtonClick(this);">Winter Engine Website
                    </a>
                </li>
                <li id="liAboutButton">
                    <a id="aAboutButton" href="#" onclick="AboutButtonClick(this);">About
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>