<div id="divObjectBar" class="clsObjectBarDiv row-fluid clsHidden">
    <ul id="ulObjectBar">
        <li id="liArea" class="clsActiveObjectType">
            <a href="#" onclick="ChangeObjectMode('Area');">Areas
            </a>
        </li>
        <li id="liCreature">
            <a href="#" onclick="ChangeObjectMode('Creature');">Creatures
            </a>
        </li>
        <li id="liItem">
            <a href="#" onclick="ChangeObjectMode('Item');">Items
            </a>
        </li>
        <li id="liPlaceable">
            <a href="#" onclick="ChangeObjectMode('Placeable');">Placeables
            </a>
        </li>
        <li id="liConversation">
            <a href="#" onclick="ChangeObjectMode('Conversation');">Conversations
            </a>
        </li>
        <li id="liScript">
            <a href="#" onclick="ChangeObjectMode('Script');">Scripts
            </a>
        </li>
        <li id="liTileset">
            <a href="#" onclick="ChangeObjectMode('Tileset');">Tilesets
            </a>
        </li>
    </ul>
</div>