<div id="divObjectBar" class="clsObjectBarDiv row-fluid clsHidden"
    data-bind="css: {clsHidden: IsModuleOpened() == false}">
    <ul id="ulObjectBar">
        <li id="liArea" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Area'}">
            <a href="#" onclick="ChangeObjectMode('Area');">Areas
            </a>
        </li>
        <li id="liCreature" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Creature' }">
            <a href="#" onclick="ChangeObjectMode('Creature');">Creatures
            </a>
        </li>
        <li id="liItem" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Item' }">
            <a href="#" onclick="ChangeObjectMode('Item');">Items
            </a>
        </li>
        <li id="liPlaceable" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Placeable' }">
            <a href="#" onclick="ChangeObjectMode('Placeable');">Placeables
            </a>
        </li>
        <li id="liConversation" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Conversation' }">
            <a href="#" onclick="ChangeObjectMode('Conversation');">Conversations
            </a>
        </li>
        <li id="liScript" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Script' }">
            <a href="#" onclick="ChangeObjectMode('Script');">Scripts
            </a>
        </li>
        <li id="liTileset" data-bind="css: { clsActiveObjectType: CurrentObjectMode() == 'Tileset' }">
            <a href="#" onclick="ChangeObjectMode('Tileset');">Tilesets
            </a>
        </li>
    </ul>
</div>