<div id="objectTabControls" class="clsHidden" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divObjectTabContainer">

        <div id="divAreasTab" class="clsObjectTabDiv">
            <h3>Area Details</h3>
            <div id="divAreasTab-Details">
                <label id="lblAreaDetails-Name" for="txtAreaDetails-Name">Name:</label>
                <input id="txtAreaDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveArea.Name()" class="clsAreaObjectField" />

                <label id="lblAreaDetails-Tag" for="txtAreaDetails-Tag">Tag:</label>
                <input id="txtAreaDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveArea.Tag()" class="clsAreaObjectField" />

                <label id="lblAreaDetails-Resref" for="txtAreaDetails-Resref">Resref:</label>
                <input id="txtAreaDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveArea.Resref()" class="clsAreaObjectField" />

                <label id="lblAreaDetails-Tileset" for="selAreaDetails-Tileset">Tileset:</label>
                <select id="selAreaDetails-Tileset" disabled="disabled" class="clsAreaObjectField" size="3"></select>

                <label id="lblAreaDetails-MapWidth" for="numAreaDetails-MapWidth">Width:</label>
                <input id="numAreaDetails-MapWidth" type="number" min="1" max="32" data-bind="value: ActiveArea.TilesWide()" disabled="disabled" class="clsAreaObjectField" />

                <label id="lblAreaDetails-MapHeight" for="numAreaDetails-MapHeight">Height:</label>
                <input id="numAreaDetails-MapHeight" type="number" min="1" max="32" data-bind="value: ActiveArea.TilesHigh()" disabled="disabled" class="clsAreaObjectField" />

            </div>

            <h3>Paint Tiles</h3>
            <div id="divAreasTab-PaintTiles">
                <canvas id="cnvAreaTilesetImage" class="clsHidden clsFullSize clsCanvas"></canvas>
            </div>

            <h3>Paint Creatures</h3>
            <div id="divAreasTab-PaintCreatures">
            </div>

            <h3>Paint Items</h3>
            <div id="divAreasTab-PaintItems">
            </div>

            <h3>Paint Placeables</h3>
            <div id="divAreasTab-PaintPlaceables">
            </div>

            <h3>Music</h3>
            <div id="divAreasTab-Music">
                <label>Background:</label>
                <select id="selAreasMusic-Background" disabled="disabled" class="clsAreaObjectField" size="3"></select>

                <label>Battle:</label>
                <select id="selAreasMusic-Battle" disabled="disabled" class="clsAreaObjectField" size="3"></select>
            </div>

            <h3>Description</h3>
            <div id="divAreasTab-Description">
                <textarea id="txtAreasTab-Description" disabled="disabled" data-bind="value: ActiveArea.Description()" class="clsAreaObjectField"></textarea>
            </div>

            <h3>Comments</h3>
            <div id="divAreasTab-Comments">
                <textarea id="txtAreasTab-Comments" disabled="disabled" data-bind="value: ActiveArea.Comment()" class="clsAreaObjectField"></textarea>
            </div>

            <h3>Local Variables</h3>
            <div id="divAreasTab-LocalVariables">
                <input id="btnAreasTab-AddLocalVariable" type="button" value="Add New Variable" />

                <div data-bind="foreach: ActiveArea.LocalVariables()">
                    <div class="btn-group">
                        <input type="text" data-bind="value: Name" />
                        <input type="text" data-bind="value: Value" />
                        <input type="button" value="Remove" />
                    </div>
                </div>
            </div>

            <h3>Events</h3>
            <div id="divAreasTab-Events">

                <label id="lblAreaEvents-OnAreaEnter">On Area Enter:</label>
                <select id="selAreaEvents-OnAreaEnter" disabled="disabled" data-bind="value: ActiveArea.OnEnterEventScriptID()" class="clsAreaObjectField" size="3"></select>

                <label id="lblAreaEvents-OnAreaExit">On Area Exit:</label>
                <select id="selAreaEvents-OnAreaExit" disabled="disabled" data-bind="value: ActiveArea.OnExitEventScriptID()" class="clsAreaObjectField" size="3"></select>

                <label id="lblAreaEvents-OnAreaHeartbeat">On Area Heartbeat:</label>
                <select id="selAreaEvents-OnAreaHeartbeat" disabled="disabled" data-bind="value: ActiveArea.OnHeartbeatEventScriptID()" class="clsAreaObjectField" size="3"></select>

                <label id="lblAreaEvents-OnUserDefinedEvent">On User Defined Event:</label>
                <select id="selAreaEvents-OnUserDefinedEvent" disabled="disabled" data-bind="value: ActiveArea.OnUserDefinedEventScriptID()" class="clsAreaObjectField" size="3"></select>

            </div>
        </div>

        <div id="divCreaturesTab" class="clsObjectTabDiv">
            <h3>Creature Details</h3>
            <div id="divCreaturesTab-Details">
                <label id="lblCreatureDetails-Name" for="txtCreatureDetails-Name">Name:</label>
                <input id="txtCreatureDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveCreature.Name()" class="clsCreatureObjectField" />

                <label id="lblCreatureDetails-Tag" for="txtCreatureDetails-Tag">Tag:</label>
                <input id="txtCreatureDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveCreature.Tag()" class="clsCreatureObjectField" />

                <label id="lblCreatureDetails-Resref" for="txtCreatureDetails-Resref">Resref:</label>
                <input id="txtCreatureDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveCreature.Resref()" class="clsCreatureObjectField" />

                <label id="lblCreatureDetails-Appearance" for="txtCreatureDetails-Appearance">Appearance:</label>
                <select id="selCreatureDetails-Appearance" disabled="disabled" data-bind="" class="clsCreatureObjectField" size="3"></select>

                <label>Race:</label>
                <select id="selCreatureDetails-Race" disabled="disabled" data-bind="value: ActiveCreature.Race()" class="clsCreatureObjectField" size="3"></select>

                <label>Gender:</label>
                <select id="selCreatureDetails-Gender" disabled="disabled" data-bind="" class="clsCreatureObjectField" size="3"></select>

                <label>Faction:</label>
                <select id="selCreatureDetails-Faction" disabled="disabled" data-bind="" class="clsCreatureObjectField" size="3"></select>

                <label>Conversation:</label>
                <select id="selCreatureDetails-Conversation" disabled="disabled" data-bind="" class="clsCreatureObjectField" size="3"></select>

                <label>
                    Is Invulnerable:
        <input id="chkCreatureDetails-IsInvulnerable" disabled="disabled" type="checkbox" data-bind="value: ActiveCreature.Name()" class="clsCreatureObjectField" />
                </label>

            </div>

            <h3>Attributes</h3>
            <div id="divCreaturesTab-Attributes">
                <label>Hit Points:</label>
                <input id="numCreaturesTab-HitPoints" type="number" max="65535" disabled="disabled" data-bind="value: ActiveCreature.HitPoints()" class="clsCreatureObjectField" />

                <label>Mana:</label>
                <input id="numCreaturesTab-Mana" type="number" max="65535" disabled="disabled" data-bind="value: ActiveCreature.Mana()" class="clsCreatureObjectField" />

                <label>Strength:</label>
                <input id="numCreaturesTab-Strength" type="number" max="255" disabled="disabled" data-bind="value: ActiveCreature.Strength()" class="clsCreatureObjectField" />

                <label>Dexterity:</label>
                <input id="numCreaturesTab-Dexterity" type="number" max="255" disabled="disabled" data-bind="value: ActiveCreature.Dexterity()" class="clsCreatureObjectField" />

                <label>Constitution:</label>
                <input id="numCreaturesTab-Constitution" type="number" max="255" disabled="disabled" data-bind="value: ActiveCreature.Constitution()" class="clsCreatureObjectField" />

                <label>Intelligence:</label>
                <input id="numCreaturesTab-Intelligence" type="number" max="255" disabled="disabled" data-bind="value: ActiveCreature.Intelligence()" class="clsCreatureObjectField" />

                <label>Wisdom:</label>
                <input id="numCreaturesTab-Wisdom" type="number" max="255" disabled="disabled" data-bind="value: ActiveCreature.Wisdom()" class="clsCreatureObjectField" />

            </div>

            <h3>Abilities</h3>
            <div id="divCreaturesTab-Abilities" data-bind="foreach: ActiveCreature.Abilities">
            </div>

            <h3>Equipment</h3>
            <div id="divCreaturesTab-Equipment">
                <label>Main Hand:</label>
                <select id="selCreaturesTab-MainHand" disabled="disabled" data-bind="value: ActiveCreature.MainHandItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Off Hand:</label>
                <select id="selCreaturesTab-OffHand" disabled="disabled" data-bind="value: ActiveCreature.OffHandItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Head:</label>
                <select id="selCreaturesTab-Head" disabled="disabled" data-bind="value: ActiveCreature.HeadItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Body:</label>
                <select id="selCreaturesTab-Body" disabled="disabled" data-bind="value: ActiveCreature.BodyItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Back:</label>
                <select id="selCreaturesTab-Back" disabled="disabled" data-bind="value: ActiveCreature.BackItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Hands:</label>
                <select id="selCreaturesTab-Hands" disabled="disabled" data-bind="value: ActiveCreature.HandsItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Waist:</label>
                <select id="selCreaturesTab-Waist" disabled="disabled" data-bind="value: ActiveCreature.WaistItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Legs:</label>
                <select id="selCreaturesTab-Legs" disabled="disabled" data-bind="value: ActiveCreature.LegsItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Feet:</label>
                <select id="selCreaturesTab-Feet" disabled="disabled" data-bind="value: ActiveCreature.FeetItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Ear (L):</label>
                <select id="selCreaturesTab-EarL" disabled="disabled" data-bind="value: ActiveCreature.EarLeftItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Ear (R):</label>
                <select id="selCreaturesTab-EarR" disabled="disabled" data-bind="value: ActiveCreature.EarRightItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Ring (L):</label>
                <select id="selCreaturesTab-RingL" disabled="disabled" data-bind="value: ActiveCreature.RingLeftItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Ring (R):</label>
                <select id="selCreaturesTab-RingR" disabled="disabled" data-bind="value: ActiveCreature.RingRightItemID()" class="clsCreatureObjectField" size="3"></select>

                <label>Neck:</label>
                <select id="selCreaturesTab-Neck" disabled="disabled" data-bind="value: ActiveCreature.NeckItemID()" class="clsCreatureObjectField" size="3"></select>

            </div>

            <h3>Inventory</h3>
            <div id="divCreaturesTab-Inventory" data-bind="foreach: ActiveCreature.Inventory">
            </div>

            <h3>Description</h3>
            <div id="divCreaturesTab-Description">
                <textarea id="txtCreaturesTab-Description" disabled="disabled" data-bind="value: ActiveCreature.Description()" class="clsCreatureObjectField"></textarea>
            </div>

            <h3>Comments</h3>
            <div id="divCreaturesTab-Comments">
                <textarea id="txtCreaturesTab-Comments" disabled="disabled" data-bind="value: ActiveCreature.Comment()" class="clsCreatureObjectField"></textarea>
            </div>

            <h3>Local Variables</h3>
            <div id="divCreaturesTab-LocalVariables" data-bind="foreach: ActiveCreature.LocalVariables()">
            </div>

            <h3>Events</h3>
            <div id="divCreaturesTab-Events">
                <label id="lblCreaturesEvents-OnSpawn">On Spawn:</label>
                <select id="selCreaturesEvents-OnSpawn" disabled="disabled" data-bind="value: ActiveCreature.OnSpawnEventScriptID()" class="clsCreatureObjectField" size="3"></select>

                <label id="lblCreaturesEvents-OnDamaged">On Damaged:</label>
                <select id="selCreaturesEvents-OnDamaged" disabled="disabled" data-bind="value: ActiveCreature.OnDamagedEventScriptID()" class="clsCreatureObjectField" size="3"></select>

                <label id="lblCreaturesEvents-OnDeath">On Death:</label>
                <select id="selCreaturesEvents-OnDeath" disabled="disabled" data-bind="value: ActiveCreature.OnDeathEventScriptID()" class="clsCreatureObjectField" size="3"></select>

                <label id="lblCreaturesEvents-OnConversation">On Conversation:</label>
                <select id="selCreaturesEvents-OnConversation" disabled="disabled" data-bind="value: ActiveCreature.OnConversationEventScriptID()" class="clsCreatureObjectField" size="3"></select>

                <label id="lblCreaturesEvents-OnHeartbeat">On Heartbeat:</label>
                <select id="selCreaturesEvents-OnHeartbeat" disabled="disabled" data-bind="value: ActiveCreature.OnHeartbeatEventScriptID()" class="clsCreatureObjectField" size="3"></select>

            </div>
        </div>

        <div id="divItemsTab" class="clsObjectTabDiv">
            <h3>Item Details</h3>
            <div id="divItemsTab-Details">
                <label id="lblItemDetails-Name" for="txtItemDetails-Name">Name:</label>
                <input id="txtItemDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveItem.Name()" class="clsItemObjectField" />

                <label id="lblItemDetails-Tag" for="txtItemDetails-Tag">Tag:</label>
                <input id="txtItemDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveItem.Tag()" class="clsItemObjectField" />

                <label id="lblItemDetails-Resref" for="txtItemDetails-Resref">Resref:</label>
                <input id="txtItemDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveItem.Resref()" class="clsItemObjectField" />

            </div>

            <h3>Description</h3>
            <div id="divItemsTab-Description">
                <textarea id="txtItemDetails-Description" disabled="disabled" data-bind="value: ActiveItem.Description()" class="clsItemObjectField"></textarea>
            </div>

            <h3>Comments</h3>
            <div id="divItemsTab-Comments">
                <textarea id="txtItemDetails-Comments" disabled="disabled" data-bind="value: ActiveItem.Comment()" class="clsItemObjectField"></textarea>
            </div>

            <h3>Local Variables</h3>

            <div id="divItemsTab-LocalVariables" data-bind="foreach: ActiveItem.LocalVariables()">
            </div>

            <h3>Events</h3>
            <div id="divItemsTab-Events">

                <label id="lblItemsEvents-OnSpawn">On Spawn:</label>
                <select id="selItemsEvents-OnSpawn" disabled="disabled" data-bind="value: ActiveItem.OnSpawnEventScriptID()" class="clsItemObjectField" size="3"></select>

            </div>
        </div>
        <div id="divPlaceablesTab" class="clsObjectTabDiv">
            <h3>Placeable Details</h3>
            <div id="divPlaceablesTab-Details">
                <label id="lblPlaceableDetails-Name" for="txtPlaceableDetails-Name">Name:</label>
                <input id="txtPlaceableDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActivePlaceable.Name()" class="clsPlaceableObjectField" />

                <label id="lblPlaceableDetails-Tag" for="txtPlaceableDetails-Tag">Tag:</label>
                <input id="txtPlaceableDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActivePlaceable.Tag()" class="clsPlaceableObjectField" />

                <label id="lblPlaceableDetails-Resref" for="txtPlaceableDetails-Resref">Resref:</label>
                <input id="txtPlaceableDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActivePlaceable.Resref()" class="clsPlaceableObjectField" />

            </div>

            <h3>Description</h3>
            <div id="divPlaceableDetails-Description">
                <textarea id="txtPlaceableDetails-Description" disabled="disabled" data-bind="value: ActivePlaceable.Description()" class="clsPlaceableObjectField"></textarea>
            </div>

            <h3>Comments</h3>
            <div id="divPlaceableDetails-Comments">
                <textarea id="txtPlaceableDetails-Comments" disabled="disabled" data-bind="value: ActivePlaceable.Comment()" class="clsPlaceableObjectField"></textarea>
            </div>

            <h3>Local Variables</h3>
            <div id="divPlaceablesTab-LocalVariables" data-bind="foreach: ActivePlaceable.LocalVariables()">
            </div>

            <h3>Events</h3>
            <div id="divPlaceablesTab-Events">

                <label id="lblPlaceablesEvents-OnSpawn">On Spawn:</label>
                <select id="selPlaceablesEvents-OnSpawn" disabled="disabled" data-bind="value: ActivePlaceable.OnSpawnEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

                <label id="lblPlaceablesEvents-OnDamaged">On Damaged:</label>
                <select id="selPlaceablesEvents-OnDamaged" disabled="disabled" data-bind="value: ActivePlaceable.OnDamagedEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

                <label id="lblPlaceablesEvents-OnDeath">On Death:</label>
                <select id="selPlaceablesEvents-OnDeath" disabled="disabled" data-bind="value: ActivePlaceable.OnDeathEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

                <label id="lblPlaceablesEvents-OnHeartbeat">On Heartbeat:</label>
                <select id="selPlaceablesEvents-OnHeartbeat" disabled="disabled" data-bind="value: ActivePlaceable.OnHeartbeatEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

                <label id="lblPlaceablesEvents-OnOpen">On Open:</label>
                <select id="selPlaceablesEvents-OnOpen" disabled="disabled" data-bind="value: ActivePlaceable.OnOpenEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

                <label id="lblPlaceablesEvents-OnClose">On Close:</label>
                <select id="selPlaceablesEvents-OnClose" disabled="disabled" data-bind="value: ActivePlaceable.OnCloseEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

                <label id="lblPlaceablesEvents-OnUsed">On Used:</label>
                <select id="selPlaceablesEvents-OnUsed" disabled="disabled" data-bind="value: ActivePlaceable.OnUsedEventScriptID()" class="clsPlaceableObjectField" size="3"></select>

            </div>
        </div>
        <div id="divConversationsTab" class="clsObjectTabDiv">
            <h3>Conversation Details</h3>
            <div id="divConversationsTab-Details">

                <label id="lblConversationDetails-Name" for="txtConversationDetails-Name">Name:</label>
                <input id="txtConversationDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveConversation.Name()" class="clsConversationObjectField" />

                <label id="lblConversationDetails-Tag" for="txtConversationDetails-Tag">Tag:</label>
                <input id="txtConversationDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveConversation.Tag()" class="clsConversationObjectField" />

                <label id="lblConversationDetails-Resref" for="txtConversationDetails-Resref">Resref:</label>
                <input id="txtConversationDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveConversation.Resref()" class="clsConversationObjectField" />

            </div>
        </div>
        <div id="divScriptsTab" class="clsObjectTabDiv">
            <h3>Script Details</h3>
            <div id="divScriptsTab-Details">
                <label id="lblScriptDetails-Name" for="txtScriptDetails-Name">Name:</label>
                <input id="txtScriptDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveScript.Name()" class="clsScriptObjectField" />

                <label id="lblScriptDetails-Tag" for="txtScriptDetails-Tag">Tag:</label>
                <input id="txtScriptDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveScript.Tag()" class="clsScriptObjectField" />

                <label id="lblScriptDetails-Resref" for="txtScriptDetails-Resref">Resref:</label>
                <input id="txtScriptDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveScript.Resref()" class="clsScriptObjectField" />

            </div>
        </div>


        <div id="divTilesetsTab" class="clsObjectTabDiv">
            <h3>Tileset Details</h3>
            <div id="divTilesetsTab-Details">
                <label id="lblTilesetDetails-Name" for="txtTilesetDetails-Name">Name:</label>
                <input id="txtTilesetDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveTileset.Name()" class="clsTilesetObjectField" />

                <label id="lblTilesetDetails-Tag" for="txtTilesetDetails-Tag">Tag:</label>
                <input id="txtTilesetDetails-Tag" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveTileset.Tag()" class="clsTilesetObjectField" />

                <label id="lblTilesetDetails-Resref" for="txtTilesetDetails-Resref">Resref:</label>
                <input id="txtTilesetDetails-Resref" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveTileset.Resref()" class="clsTilesetObjectField" />

                <label id="lblTilesetDetails-Spritesheet" for="selTilesetDetails-Spritesheet">Spritesheet:</label>
                <select id="selTilesetDetails-Spritesheet" size="3" disabled="disabled" class="clsTilesetObjectField" onchange="SelectTilesetSpriteSheet();"
                    data-bind="options: TilesetSpriteSheetsList,
                               optionsText: function (item) { return item.Name },
                               optionsValue: function (item) { return item.ResourceID },
                               value: ActiveTileset.GraphicResourceID() == null ? 0 : ActiveTileset.GraphicResourceID()">
                </select>

            </div>

            <h3>Tile Details</h3>
            <div id="divTilesetsTab-TileDetails">
                <label id="lblTilesetDetails-TileIsPassable" for="chkTilesetDetails">Is Passable:</label>
                <input id="chkTilesetDetails-TileIsPassable" type="checkbox" data-bind="value: ActiveTile.IsPassable()" class="clsTileObjectField" />

            </div>
        </div>

    </div>

    <div id="divObjectTabContainerButtons" class="btn-group clsHidden">
        <input id="btnObjectTabApplyChanges" type="button" class="btn btn-inverse" value="Apply Changes" onclick="ObjectTabApplyChanges();" />
        <input id="btnObjectTabDiscardChanges" type="button" class="btn btn-inverse" value="Discard Changes" onclick="ObjectTabDiscardChanges();" />
    </div>

</div>
