<div id="divTreeViewContainer" class="clsTreeViewContainerDiv" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divAreaTreeView" class="clsTreeViewDiv pre-scrollable"></div>
    <div id="divCreatureTreeView" class="clsTreeViewDiv clsHidden"></div>
    <div id="divItemTreeView" class="clsTreeViewDiv clsHidden"></div>
    <div id="divPlaceableTreeView" class="clsTreeViewDiv clsHidden"></div>
    <div id="divConversationTreeView" class="clsTreeViewDiv clsHidden"></div>
    <div id="divScriptTreeView" class="clsTreeViewDiv clsHidden"></div>
    <div id="divTilesetTreeView" class="clsTreeViewDiv clsHidden"></div>
</div>