<div id="divTreeViewContainer" class="clsTreeViewContainerDiv" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
    <div id="divAreaTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Area' }"></div>
    <div id="divCreatureTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Creature' }"></div>
    <div id="divItemTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Item' }"></div>
    <div id="divPlaceableTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Placeable' }"></div>
    <div id="divConversationTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Conversation' }"></div>
    <div id="divScriptTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Script' }"></div>
    <div id="divTilesetTreeView" class="clsTreeViewDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Tileset' }"></div>
</div>