<div id="divLevelGridContainer" class="ui-widget" data-bind="css: {clsHidden: CurrentObjectMode() != 'LevelRequirement'}">
    
    <div class="ui-widget-header">
        <div class="row">
            <div class="span1">
                Level
            </div>
            <div class="span2">
                EXP Required
            </div>
            <div class="span2">
                New Abilities
            </div>
            <div class="span2">
                Skill Points
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="ui-widget-content">

        <div data-bind="foreach: LevelRequirementList">
            <div class="row">
                <div class="span1">
                    <input type="text" readonly="true" disabled="disabled" 
                        data-bind="attr: {
                                            id: 'txtLevel_' + $index(),
                                            name: 'txtLevel_' + $index()
                                         },
                                   value: Level"/>
                </div>
                <div class="span2">
                    <input class="clsSpinner"
                        data-bind="attr: {
                                            id: 'txtExpRequired_' + $index(),
                                            name: 'txtExpRequired_' + $index()
                                         },
                                   value: ExperienceRequired"/>
                </div>
                <div class="span2">
                    <input class="clsSpinner"
                        data-bind="attr: {
                                            id: 'txtNewAbilities_' + $index(),
                                            name: 'txtNewAbilities_' + $index()
                                         },
                                   value: NewAbilities"/>
                </div>
                <div class="span2">
                    <input class="clsSpinner"
                        data-bind="attr: {
                                            id: 'txtSkillPoints_' + $index(),
                                            name: 'txtSkillPoints_' + $index()
                                         },
                                   value: SkillPoints"/>
                </div>
            </div>
        </div>
    </div>
</div>