
<div id="divObjectTabContainerButtons" class="btn-group" 
    data-bind="css: { clsHidden: CurrentObjectMode() == '' }">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <button id="btnObjectTabApplyChanges" type="button" class="btn btn-primary btn-xs" value="Save Changes" onclick="ObjectTabApplyChanges();" 
                        data-bind="enable: IsObjectLoadedForCurrentObjectMode" >Save Changes</button>
                    <button id="btnObjectTabDiscardChanges" type="button" class="btn btn-danger btn-xs" value="Discard Changes" onclick="ObjectTabDiscardChanges();" 
                        data-bind="enable: IsObjectLoadedForCurrentObjectMode">Discard Changes</button>

                </div>
            </div>
        </div>
    </div>
    
</div>