<div id="divAreaTab" class="clsObjectTabDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Area' }">

    <div class="panel-group" id="divAreaAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-Details">Area Details
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-Details" class="panel-collapse collapse in">
                <div class="panel-body">

                    <label id="lblAreaDetails-Name" for="txtAreaDetails-Name">Name:</label>
                    <input id="txtAreaDetails-Name" type="text" maxlength="64" class="form-control"
                        data-bind="value: ActiveArea.Name,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblAreaDetails-Tag" for="txtAreaDetails-Tag">Tag:</label>
                    <input id="txtAreaDetails-Tag" type="text" maxlength="32" class="form-control"
                        data-bind="value: ActiveArea.Tag,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblAreaDetails-Resref" for="txtAreaDetails-Resref">Resref:</label>
                    <input id="txtAreaDetails-Resref" type="text" maxlength="32" class="form-control"
                        data-bind="value: ActiveArea.Resref,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblAreaDetails-Tileset" for="selAreaDetails-Tileset">Tileset:</label>
                    <select id="selAreaDetails-Tileset" size="3" class="form-control"
                        data-bind="options: TilesetList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveArea.TilesetID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label id="lblAreaDetails-MapWidth" for="numAreaDetails-MapWidth">Width:</label>
                    <input id="numAreaDetails-MapWidth" type="number" min="1" max="32" class="form-control"
                        data-bind="value: ActiveArea.TilesWide, enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblAreaDetails-MapHeight" for="numAreaDetails-MapHeight">Height:</label>
                    <input id="numAreaDetails-MapHeight" type="number" min="1" max="32" class="form-control"
                        data-bind="value: ActiveArea.TilesHigh, enable: IsObjectLoadedForCurrentObjectMode" />

                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-PaintTiles">Paint Tiles
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-PaintTiles" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-PaintCreatures">Paint Creatures
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-PaintCreatures" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-PaintPlaceables">Paint Placeables
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-PaintPlaceables" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-Music">Music
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-Music" class="panel-collapse collapse">
                <div class="panel-body">
                    <label>Background:</label>
                    <select id="selAreasMusic-Background" size="3" class="form-control"></select>

                    <label>Battle:</label>
                    <select id="selAreasMusic-Battle" size="3" class="form-control"></select>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-Description">Description
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-Description" class="panel-collapse collapse">
                <div class="panel-body">
                    <textarea id="txtAreasTab-Description" class="form-control"
                        data-bind="value: ActiveArea.Description, enable: IsObjectLoadedForCurrentObjectMode"></textarea>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-Comments">Comments
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-Comments" class="panel-collapse collapse">
                <div class="panel-body">
                    <textarea id="txtAreasTab-Comments" class="form-control"
                        data-bind="value: ActiveArea.Comment, enable: IsObjectLoadedForCurrentObjectMode"></textarea>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-LocalVariables">Local Variables
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-LocalVariables" class="panel-collapse collapse">
                <div class="panel-body">
                    <input id="btnAreasTab-AddLocalVariable" type="button" value="Add New Variable" class="btn btn-primary" onclick="OpenEditLocalVariableBox(false, 'create');"
                        data-bind="enable: IsObjectLoadedForCurrentObjectMode" />

                    <div data-bind="foreach: ActiveArea.LocalVariables">
                        <label data-bind="text: Name"></label>
                        <button type="button" class="btn btn-success"
                            data-bind="value: 'Edit', click: function (data, event) { OpenEditLocalVariableBox(false, 'edit', $data); }">
                            Edit
                        </button>

                        <button type="button" class="btn btn-danger"
                            data-bind="value: 'Delete', click: function (data, event) { OpenDeleteLocalVariableBox($data) }">
                            Delete
                        </button>

                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divAreaAccordion" href="#divAreasTab-Events">Events
                    </a>
                </h4>
            </div>
            <div id="divAreasTab-Events" class="panel-collapse collapse">
                <div class="panel-body">
                    
                <label id="lblAreaEvents-OnAreaEnter">On Area Enter:</label>
                <select id="selAreaEvents-OnAreaEnter" size="3" class="form-control"
                    data-bind="options: ScriptList,
                                optionsText: function (item) { return item.Name },
                                optionsValue: function (item) { return item.ResourceID },
                                value: ActiveArea.OnEnterEventScriptID,
                                enable: IsObjectLoadedForCurrentObjectMode">
                </select>

                <label id="lblAreaEvents-OnAreaExit">On Area Exit:</label>
                <select id="selAreaEvents-OnAreaExit" size="3" class="form-control"
                    data-bind="options: ScriptList,
                                optionsText: function (item) { return item.Name },
                                optionsValue: function (item) { return item.ResourceID },
                                value: ActiveArea.OnExitEventScriptID,
                                enable: IsObjectLoadedForCurrentObjectMode">
                </select>

                <label id="lblAreaEvents-OnAreaHeartbeat">On Area Heartbeat:</label>
                <select id="selAreaEvents-OnAreaHeartbeat" size="3" class="form-control"
                    data-bind="options: ScriptList,
                                optionsText: function (item) { return item.Name },
                                optionsValue: function (item) { return item.ResourceID },
                                value: ActiveArea.OnHeartbeatEventScriptID,
                                enable: IsObjectLoadedForCurrentObjectMode">
                </select>

                <label id="lblAreaEvents-OnUserDefinedEvent">On User Defined Event:</label>
                <select id="selAreaEvents-OnUserDefinedEvent" size="3" class="form-control"
                    data-bind="options: ScriptList,
                                optionsText: function (item) { return item.Name },
                                optionsValue: function (item) { return item.ResourceID },
                                value: ActiveArea.OnUserDefinedEventScriptID,
                                enable: IsObjectLoadedForCurrentObjectMode">
                </select>

                </div>
            </div>
        </div>
    </div>
</div>