
<div id="divCreaturesTab" class="clsObjectTabDiv">
    <h3>Creature Details</h3>
    <div id="divCreaturesTab-Details">
        <label id="lblCreatureDetails-Name" for="txtCreatureDetails-Name">Name:</label>
        <input id="txtCreatureDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveCreature.Name" class="clsCreatureObjectField" />

        <label id="lblCreatureDetails-Tag" for="txtCreatureDetails-Tag">Tag:</label>
        <input id="txtCreatureDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveCreature.Tag" class="clsCreatureObjectField" />

        <label id="lblCreatureDetails-Resref" for="txtCreatureDetails-Resref">Resref:</label>
        <input id="txtCreatureDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveCreature.Resref" class="clsCreatureObjectField" />

        <label id="lblCreatureDetails-Appearance" for="txtCreatureDetails-Appearance">Appearance:</label>
        <select id="selCreatureDetails-Appearance" disabled="disabled" data-bind="" class="clsCreatureObjectField" size="3"></select>

        <label>Race:</label>
        <select id="selCreatureDetails-Race" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: RaceList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.RaceID" ></select>

        <label>Gender:</label>
        <select id="selCreatureDetails-Gender" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: GenderList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.GenderID"></select>

        <label>Faction:</label>
        <select id="selCreatureDetails-Faction" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: FactionList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.FactionID"></select>

        <label>Conversation:</label>
        <select id="selCreatureDetails-Conversation" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ConversationList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.ConversationID"></select>

        <label>
            Is Invulnerable:
            <input id="chkCreatureDetails-IsInvulnerable" disabled="disabled" type="checkbox" data-bind="value: ActiveCreature.IsInvulnerable" class="clsCreatureObjectField" />
        </label>

    </div>

    <h3>Attributes</h3>
    <div id="divCreaturesTab-Attributes">
        <label>Hit Points:</label>
        <input id="numCreaturesTab-HitPoints" type="number" min="1" max="65535" disabled="disabled" data-bind="value: ActiveCreature.MaxHitPoints" class="clsCreatureObjectField" />

        <label>Mana:</label>
        <input id="numCreaturesTab-Mana" type="number" min="1" max="65535" disabled="disabled" data-bind="value: ActiveCreature.MaxMana" class="clsCreatureObjectField" />

        <label>Strength:</label>
        <input id="numCreaturesTab-Strength" type="number" min="1" max="255" disabled="disabled" data-bind="value: ActiveCreature.Strength" class="clsCreatureObjectField" />

        <label>Dexterity:</label>
        <input id="numCreaturesTab-Dexterity" type="number" min="1" max="255" disabled="disabled" data-bind="value: ActiveCreature.Dexterity" class="clsCreatureObjectField" />

        <label>Constitution:</label>
        <input id="numCreaturesTab-Constitution" type="number" min="1" max="255" disabled="disabled" data-bind="value: ActiveCreature.Constitution" class="clsCreatureObjectField" />

        <label>Intelligence:</label>
        <input id="numCreaturesTab-Intelligence" type="number" min="1" max="255" disabled="disabled" data-bind="value: ActiveCreature.Intelligence" class="clsCreatureObjectField" />

        <label>Wisdom:</label>
        <input id="numCreaturesTab-Wisdom" type="number" min="1" max="255" disabled="disabled" data-bind="value: ActiveCreature.Wisdom" class="clsCreatureObjectField" />

    </div>

    <h3>Abilities</h3>
    <div id="divCreaturesTab-Abilities" data-bind="foreach: ActiveCreature.Abilities">
    </div>

    <h3>Equipment</h3>
    <div id="divCreaturesTab-Equipment">
        <label>Main Hand:</label>
        <select id="selCreaturesTab-MainHand" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.MainHandItemID"></select>

        <label>Off Hand:</label>
        <select id="selCreaturesTab-OffHand" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.OffHandItemID"></select>

        <label>Head:</label>
        <select id="selCreaturesTab-Head" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.HeadItemID"></select>

        <label>Body:</label>
        <select id="selCreaturesTab-Body" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.BodyItemID"></select>

        <label>Back:</label>
        <select id="selCreaturesTab-Back" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.BackItemID"></select>

        <label>Hands:</label>
        <select id="selCreaturesTab-Hands" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.HandsItemID"></select>

        <label>Waist:</label>
        <select id="selCreaturesTab-Waist" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.WaistItemID"></select>

        <label>Legs:</label>
        <select id="selCreaturesTab-Legs" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.LegsItemID"></select>

        <label>Feet:</label>
        <select id="selCreaturesTab-Feet" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.FeetItemID"></select>

        <label>Ear (L):</label>
        <select id="selCreaturesTab-EarL" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.EarLeftItemID"></select>

        <label>Ear (R):</label>
        <select id="selCreaturesTab-EarR" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.EarRightItemID"></select>

        <label>Ring (L):</label>
        <select id="selCreaturesTab-RingL" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.RingLeftItemID"></select>

        <label>Ring (R):</label>
        <select id="selCreaturesTab-RingR" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.RingRightItemID"></select>

        <label>Neck:</label>
        <select id="selCreaturesTab-Neck" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ItemList,
                        optionsText: function (item) { return item.Name },
                        optionsValue: function (item) { return item.ResourceID },
                        value: ActiveCreature.NeckItemID"></select>

    </div>

    <h3>Inventory</h3>
    <div id="divCreaturesTab-Inventory" data-bind="foreach: ActiveCreature.Inventory">
    </div>

    <h3>Description</h3>
    <div id="divCreaturesTab-Description">
        <textarea id="txtCreaturesTab-Description" disabled="disabled" data-bind="value: ActiveCreature.Description" class="clsCreatureObjectField"></textarea>
    </div>

    <h3>Comments</h3>
    <div id="divCreaturesTab-Comments">
        <textarea id="txtCreaturesTab-Comments" disabled="disabled" data-bind="value: ActiveCreature.Comment" class="clsCreatureObjectField"></textarea>
    </div>

    <h3>Local Variables</h3>
    <div id="divCreaturesTab-LocalVariables">
        <input id="btnCreaturesTab-AddLocalVariable" type="button" value="Add New Variable" onclick="$('#divNewLocalVariableBox').dialog('open');" />

        <div data-bind="foreach: ActiveCreature.LocalVariables">
            <label data-bind="text: Name"></label>
            <input type="button" data-bind="value: 'Edit'" />
            <input type="button" data-bind="value: 'Delete', click: function (data, event) { OpenDeleteLocalVariableBox(Name, LocalVariableID) }" />
                        
        </div>
    </div>



    <h3>Events</h3>
    <div id="divCreaturesTab-Events">
        <label id="lblCreaturesEvents-OnSpawn">On Spawn:</label>
        <select id="selCreaturesEvents-OnSpawn" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ScriptList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.OnSpawnEventScriptID"></select>

        <label id="lblCreaturesEvents-OnDamaged">On Damaged:</label>
        <select id="selCreaturesEvents-OnDamaged" disabled="disabled" class="clsCreatureObjectField" size="3" 
            data-bind="options: ScriptList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.OnDamagedEventScriptID"></select>

        <label id="lblCreaturesEvents-OnDeath">On Death:</label>
        <select id="selCreaturesEvents-OnDeath" disabled="disabled" class="clsCreatureObjectField" size="3" 
            data-bind="options: ScriptList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.OnDeathEventScriptID"></select>

        <label id="lblCreaturesEvents-OnConversation">On Conversation:</label>
        <select id="selCreaturesEvents-OnConversation" disabled="disabled" class="clsCreatureObjectField" size="3"
            data-bind="options: ScriptList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.OnConversationEventScriptID"></select>

        <label id="lblCreaturesEvents-OnHeartbeat">On Heartbeat:</label>
        <select id="selCreaturesEvents-OnHeartbeat" disabled="disabled" class="clsCreatureObjectField" size="3" 
            data-bind="options: ScriptList,
                       optionsText: function (item) { return item.Name },
                       optionsValue: function (item) { return item.ResourceID },
                       value: ActiveCreature.OnHeartbeatEventScriptID"></select>

    </div>
</div>