
<div id="divCreatureTab" class="clsObjectTabDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Creature' }">



    <div class="panel-group" id="divCreatureAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Details">Creature Details
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Details" class="panel-collapse collapse in">
                <div class="panel-body">
                    <label id="lblCreatureDetails-Name" for="txtCreatureDetails-Name">Name:</label>
                    <input id="txtCreatureDetails-Name" type="text" maxlength="64" class="form-control"
                        data-bind="value: ActiveCreature.Name,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblCreatureDetails-Tag" for="txtCreatureDetails-Tag">Tag:</label>
                    <input id="txtCreatureDetails-Tag" type="text" maxlength="32" class="form-control"
                        data-bind="value: ActiveCreature.Tag,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblCreatureDetails-Resref" for="txtCreatureDetails-Resref">Resref:</label>
                    <input id="txtCreatureDetails-Resref" type="text" maxlength="32" class="form-control"
                        data-bind="value: ActiveCreature.Resref,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblCreatureDetails-Appearance" for="txtCreatureDetails-Appearance">Appearance:</label>
                    <select id="selCreatureDetails-Appearance" size="3" class="form-control"
                        data-bind="enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Race:</label>
                    <select id="selCreatureDetails-Race" size="3" class="form-control"
                        data-bind="options: RaceList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.RaceID,
                                    enable: IsObjectLoadedForCurrentObjectMode" ></select>

                    <label>Gender:</label>
                    <select id="selCreatureDetails-Gender" size="3" class="form-control"
                        data-bind="options: GenderList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.GenderID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Faction:</label>
                    <select id="selCreatureDetails-Faction" size="3" class="form-control"
                        data-bind="options: FactionList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.FactionID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Conversation:</label>
                    <select id="selCreatureDetails-Conversation" size="3" class="form-control"
                        data-bind="options: ConversationList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.ConversationID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>
                        Is Invulnerable:
                        <input id="chkCreatureDetails-IsInvulnerable" type="checkbox" class="form-control"
                            data-bind="value: ActiveCreature.IsInvulnerable" />
                    </label>
                </div>
            </div>

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Attributes">Attributes
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Attributes" class="panel-collapse collapse">
                <div class="panel-body">
                            <label>Hit Points:</label>
                <input id="numCreaturesTab-HitPoints" type="number" min="1" max="65535" class="form-control"
                    data-bind="value: ActiveCreature.MaxHitPoints,
                                enable: IsObjectLoadedForCurrentObjectMode" />

                <label>Mana:</label>
                <input id="numCreaturesTab-Mana" type="number" min="1" max="65535" class="form-control"
                    data-bind="value: ActiveCreature.MaxMana,
                                enable: IsObjectLoadedForCurrentObjectMode" />

                <label>Strength:</label>
                <input id="numCreaturesTab-Strength" type="number" min="1" max="255" class="form-control"
                    data-bind="value: ActiveCreature.Strength,
                                enable: IsObjectLoadedForCurrentObjectMode" />

                <label>Dexterity:</label>
                <input id="numCreaturesTab-Dexterity" type="number" min="1" max="255" class="form-control"
                    data-bind="value: ActiveCreature.Dexterity,
                                enable: IsObjectLoadedForCurrentObjectMode" />

                <label>Constitution:</label>
                <input id="numCreaturesTab-Constitution" type="number" min="1" max="255" class="form-control"
                    data-bind="value: ActiveCreature.Constitution,
                                enable: IsObjectLoadedForCurrentObjectMode" />

                <label>Intelligence:</label>
                <input id="numCreaturesTab-Intelligence" type="number" min="1" max="255" class="form-control"
                    data-bind="value: ActiveCreature.Intelligence,
                                enable: IsObjectLoadedForCurrentObjectMode" />

                <label>Wisdom:</label>
                <input id="numCreaturesTab-Wisdom" type="number" min="1" max="255" class="form-control"
                    data-bind="value: ActiveCreature.Wisdom,
                                enable: IsObjectLoadedForCurrentObjectMode" />


                </div>
            </div>

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Abilities">Abilities
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Abilities" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    <div data-bind="foreach: ActiveCreature.Abilities">
                    </div>
                </div>
            </div>

            
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Equipment">Equipment
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Equipment" class="panel-collapse collapse">
                <div class="panel-body">
                    <label>Main Hand:</label>
                    <select id="selCreaturesTab-MainHand" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.MainHandItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Off Hand:</label>
                    <select id="selCreaturesTab-OffHand" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.OffHandItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Head:</label>
                    <select id="selCreaturesTab-Head" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.HeadItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Body:</label>
                    <select id="selCreaturesTab-Body" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.BodyItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Back:</label>
                    <select id="selCreaturesTab-Back" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.BackItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Hands:</label>
                    <select id="selCreaturesTab-Hands" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.HandsItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Waist:</label>
                    <select id="selCreaturesTab-Waist" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.WaistItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Legs:</label>
                    <select id="selCreaturesTab-Legs" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.LegsItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Feet:</label>
                    <select id="selCreaturesTab-Feet" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.FeetItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Ear (L):</label>
                    <select id="selCreaturesTab-EarL" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.EarLeftItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Ear (R):</label>
                    <select id="selCreaturesTab-EarR" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.EarRightItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Ring (L):</label>
                    <select id="selCreaturesTab-RingL" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.RingLeftItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Ring (R):</label>
                    <select id="selCreaturesTab-RingR" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.RingRightItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label>Neck:</label>
                    <select id="selCreaturesTab-Neck" size="3" class="form-control"
                        data-bind="options: ItemList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.NeckItemID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>
                </div>
            </div>
            
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Inventory">Inventory
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Inventory" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    <div data-bind="foreach: ActiveCreature.Inventory,
                                    enable: IsObjectLoadedForCurrentObjectMode">
                    </div>
                </div>
            </div>

            
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Description">Description
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Description" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    <textarea id="txtCreaturesTab-Description" class="form-control"
                        data-bind="value: ActiveCreature.Description,
                                    enable: IsObjectLoadedForCurrentObjectMode"></textarea>
                </div>
            </div>

            
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Comments">Comments
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Comments" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    <textarea id="txtCreaturesTab-Comments" class="form-control"
                        data-bind="value: ActiveCreature.Comment,
                                    enable: IsObjectLoadedForCurrentObjectMode"></textarea>
                </div>
            </div>

            
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-LocalVariables">Local Variables
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-LocalVariables" class="panel-collapse collapse">
                <div class="panel-body">
                    <input id="btnCreaturesTab-AddLocalVariable" type="button" value="Add New Variable" onclick="OpenEditLocalVariableBox(false, 'create');" 
                        data-bind="enable: IsObjectLoadedForCurrentObjectMode"/>

                    <div data-bind="foreach: ActiveCreature.LocalVariables">
                        <label data-bind="text: Name"></label>
                        <input type="button" class="btn btn-default"
                            data-bind="value: 'Edit', click: function (data, event) { OpenEditLocalVariableBox(false, 'edit', $data); }" />
                        <input type="button" class="btn btn-default"
                            data-bind="value: 'Delete', click: function (data, event) { OpenDeleteLocalVariableBox($data) }" />
                        
                    </div>
                </div>
            </div>
            
            
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divCreatureAccordion" href="#divCreaturesTab-Events">Events
                    </a>
                </h4>
            </div>
            <div id="divCreaturesTab-Events" class="panel-collapse collapse">
                <div class="panel-body">

                    <label id="lblCreaturesEvents-OnSpawn">On Spawn:</label>
                    <select id="selCreaturesEvents-OnSpawn" size="3" class="form-control"
                        data-bind="options: ScriptList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.OnSpawnEventScriptID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label id="lblCreaturesEvents-OnDamaged">On Damaged:</label>
                    <select id="selCreaturesEvents-OnDamaged" size="3" class="form-control"
                        data-bind="options: ScriptList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.OnDamagedEventScriptID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label id="lblCreaturesEvents-OnDeath">On Death:</label>
                    <select id="selCreaturesEvents-OnDeath" size="3" class="form-control"
                        data-bind="options: ScriptList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.OnDeathEventScriptID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label id="lblCreaturesEvents-OnConversation">On Conversation:</label>
                    <select id="selCreaturesEvents-OnConversation" size="3" class="form-control"
                        data-bind="options: ScriptList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.OnConversationEventScriptID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                    <label id="lblCreaturesEvents-OnHeartbeat">On Heartbeat:</label>
                    <select id="selCreaturesEvents-OnHeartbeat" size="3" class="form-control"
                        data-bind="options: ScriptList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveCreature.OnHeartbeatEventScriptID,
                                    enable: IsObjectLoadedForCurrentObjectMode"></select>

                </div>
            </div>


        </div>
    </div>
</div>