
<div id="divItemTab" class="clsObjectTabDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Item' }">
    
    
    
    
    <div class="panel-group" id="divItemAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divItemAccordion" href="#divItemsTab-Details">Item Details
                    </a>
                </h4>
            </div>
            <div id="divItemsTab-Details" class="panel-collapse collapse in">
                <div class="panel-body">
                    <label id="lblItemDetails-Name" for="txtItemDetails-Name">Name:</label>
                    <input id="txtItemDetails-Name" type="text" maxlength="64" class="form-control"
                        data-bind="value: ActiveItem.Name,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblItemDetails-Tag" for="txtItemDetails-Tag">Tag:</label>
                    <input id="txtItemDetails-Tag" type="text" maxlength="32" class="form-control"
                        data-bind="value: ActiveItem.Tag,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                    <label id="lblItemDetails-Resref" for="txtItemDetails-Resref">Resref:</label>
                    <input id="txtItemDetails-Resref" type="text" maxlength="32" class="form-control"
                        data-bind="value: ActiveItem.Resref,
                                    enable: IsObjectLoadedForCurrentObjectMode" />

                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divItemAccordion" href="#divItemsTab-Details">Description
                    </a>
                </h4>
            </div>
            <div id="divItemsTab-Description" class="panel-collapse collapse">
                <div class="panel-body">
                    <textarea id="txtItemDetails-Description" class="form-control"
                        data-bind="value: ActiveItem.Description,
                                    enable: IsObjectLoadedForCurrentObjectMode"></textarea>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divItemAccordion" href="#divItemsTab-Comments">Comments
                    </a>
                </h4>
            </div>
            <div id="divItemsTab-Comments" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    <textarea id="txtItemDetails-Comments" class="form-control"
                        data-bind="value: ActiveItem.Comment,
                                    enable: IsObjectLoadedForCurrentObjectMode"></textarea>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divItemAccordion" href="#divItemsTab-LocalVariables">Local Variables
                    </a>
                </h4>
            </div>
            <div id="divItemsTab-LocalVariables" class="panel-collapse collapse">
                <div class="panel-body">
                    <input id="btnItemsTab-AddLocalVariable" type="button" value="Add New Variable" class="btn btn-default" onclick="OpenEditLocalVariableBox(false, 'create');" 
                        data-bind="enable: IsObjectLoadedForCurrentObjectMode"/>

                    <div data-bind="foreach: ActiveItem.LocalVariables">
                        <label data-bind="text: Name"></label>
                        <input type="button" class="btn btn-default"
                            data-bind="value: 'Edit', click: function (data, event) { OpenEditLocalVariableBox(false, 'edit', $data); }" />
                        <input type="button" class="btn btn-default"
                            data-bind="value: 'Delete', click: function (data, event) { OpenDeleteLocalVariableBox($data) }" />
                        
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#divItemAccordion" href="#divItemsTab-Events">Events
                    </a>
                </h4>
            </div>
            <div id="divItemsTab-Events" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    <label id="lblItemsEvents-OnSpawn">On Spawn:</label>
                    <select id="selItemsEvents-OnSpawn" size="3" class="form-control"
                        data-bind="options: ScriptList,
                                    optionsText: function (item) { return item.Name },
                                    optionsValue: function (item) { return item.ResourceID },
                                    value: ActiveItem.OnSpawnEventScriptID,
                                    enable: IsObjectLoadedForCurrentObjectMode" ></select>
                </div>
            </div>
        </div>
    </div>
</div>