
<div id="divScriptTab" class="clsObjectTabDiv" data-bind="css: { clsHidden: CurrentObjectMode() != 'Script' }">
    <h3>Script Details</h3>
    <div id="divScriptsTab-Details">
        <label id="lblScriptDetails-Name" for="txtScriptDetails-Name">Name:</label>
        <input id="txtScriptDetails-Name" type="text" maxlength="64" disabled="disabled" data-bind="value: ActiveScript.Name" class="clsScriptObjectField" />

        <label id="lblScriptDetails-Tag" for="txtScriptDetails-Tag">Tag:</label>
        <input id="txtScriptDetails-Tag" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveScript.Tag" class="clsScriptObjectField" />

        <label id="lblScriptDetails-Resref" for="txtScriptDetails-Resref">Resref:</label>
        <input id="txtScriptDetails-Resref" type="text" maxlength="32" disabled="disabled" data-bind="value: ActiveScript.Resref" class="clsScriptObjectField" />

    </div>
</div>