<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <link rel="stylesheet" href="../Styling/Shared/bootstrap.css" />
    <link rel="stylesheet" href="../Styling/Shared/bootstrap-responsive.css" />
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />

    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.awesomiumXNA.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/jquery.jstree.js"></script>
    <script src="../Scripts/knockout-2.3.0.js"></script>
    <script src="../Scripts/knockout.viewmodel.js"></script>
    <script src="../Scripts/jquery.blockUI.js"></script>
    <script src="../Scripts/WinterEngine.Shared.js"></script>
    <script src="../Scripts/CharacterCreation.ViewModel.js"></script>
    <script src="../Scripts/CharacterCreation.Initialization.js"></script>
    <script src="../Scripts/CharacterCreation.js"></script>

</head>
<body>

    <div id="divCharacterCreationAccordion">
        <h3>Details</h3>
        <div id="divDetails">
        </div>

        <h3>Portrait</h3>
        <div id="divPortraits">
        </div>

        <h3>Class</h3>
        <div id="divClass">
        </div>

        <h3>Appearance</h3>
        <div id="divAppearance">

        </div>
    </div>

</body>
</html>