<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    
    <link rel="stylesheet" href="../Styling/Shared/bootstrap-slate.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />

    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/jquery.awesomiumXNA.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/jquery.jstree.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/knockout-2.3.0.js"></script>
    <script src="../Scripts/knockout.viewmodel.js"></script>
    <script src="../Scripts/CharacterCreation.ViewModel.js"></script>
    <script src="../Scripts/CharacterCreation.Initialization.js"></script>
    <script src="../Scripts/CharacterCreation.js"></script>

</head>
<body>
    
    <div class="container">

        <div class="row">
            <div class="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Character Creation</h4>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active" onclick="ChangeActiveMode('Details');">
                                <input type="radio" name="options" checked="checked" id="radDetails"  /> Details
                            </label>
                            <label class="btn btn-primary" onclick="ChangeActiveMode('Race');" >
                                <input type="radio" name="options" id="radRace" /> Race
                            </label>
                            <label class="btn btn-primary" onclick="ChangeActiveMode('Class');" >
                                <input type="radio" name="options" id="radClass" /> Class
                            </label>
                            <label class="btn btn-primary" onclick="ChangeActiveMode('Abilities');">
                                <input type="radio" name="options" id="radAbilities" /> Abilities
                            </label>
                            <label class="btn btn-primary" onclick="ChangeActiveMode('Skills');" >
                                <input type="radio" name="options" id="radSkills" /> Skills
                            </label>
                            <label class="btn btn-primary" onclick="ChangeActiveMode('Portrait');" >
                                <input type="radio" name="options" id="radPortrait" /> Portrait
                            </label>
                            <label class="btn btn-primary" onclick="ChangeActiveMode('Appearance');" >
                                <input type="radio" name="options" id="radAppearance" /> Appearance
                            </label>
                        </div>

                        <div class="btn-group pull-right">
                        
                            <button class="btn btn-success" onclick="CreateCharacter();">Create Character</button>
                            <button class="btn btn-danger" onclick="CancelCharacterCreation();">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            
        

        <div class="row">
            
            <div class="panel panel-primary">
                <div class="panel-body">

                    <div data-bind="if: CurrentMode() == 'Details'">
                        <div data-partial="CharacterCreation/Modes/DetailsPartial.html"></div>
                        
                    </div>
                    
                    <div data-bind="if: CurrentMode() == 'Race'">
                        <div data-partial="CharacterCreation/Modes/RacesPartial.html"></div>
                        
                    </div>

                    <div data-bind="if: CurrentMode() == 'Class'">
                        <div data-partial="CharacterCreation/Modes/ClassesPartial.html"></div>
                        
                    </div>

                    <div data-bind="if: CurrentMode() == 'Abilities'">
                        <div data-partial="CharacterCreation/Modes/AbilitiesPartial.html"></div>
                        
                    </div>

                    <div data-bind="if: CurrentMode() == 'Skills'">
                        <div data-partial="CharacterCreation/Modes/SkillsPartial.html"></div>
                        
                    </div>
                    
                    <div data-bind="if: CurrentMode() == 'Portrait'">
                        <div data-partial="CharacterCreation/Modes/PortraitsPartial.html"></div>
                    </div>

                    <div data-bind="if: CurrentMode() == 'Appearance'">
                        <div data-partial="CharacterCreation/Modes/AppearancePartial.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>