<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />
    <link rel="stylesheet" href="../Styling/Game/MainMenuStyles.css" />
    <link rel="stylesheet" href="../Styling/Shared/bootstrap.css" />


    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/jquery.awesomiumXNA.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/MainMenu.js"></script>

    <script>
        $(document).ready(function () {
            Initialize();
        });
    </script>
</head>
<body style="background-color:transparent;">

    <div class="container">

        <img src="../Images/WinterEngineLogo.png" class="clsMainMenuLogo" />
    
        <div class="col-lg-offset-7 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="btn-group-vertical">
                    
                        <button id="btnLoginLogout" type="button" value="Login" class="btn btn-primary" 
                            onclick="LoginButton();" data-mode="login" >Login</button>
                        <button id="btnProfile" type="button" value="My Profile" class="btn btn-primary" disabled="disabled" onclick="OpenUserProfileBox();" >My Profile</button>
                        <button id="btnToolset" type="button" value="Toolset" class="btn btn-primary" onclick="ToolsetButton();" >Toolset</button>
                        <button id="btnSettings" type="button" value="Game Settings" class="btn btn-primary" onclick="SettingsButton();" >Game Settings</button>
                        <button id="btnWebsite" type="button" value="Website" class="btn btn-primary" onclick="WebsiteButton();" >Website</button>
                        <button id="btnForums" type="button" value="Forums" class="btn btn-primary" onclick="ForumsButton();" >Forums</button>
                        <button id="btnExit" type="button" value="Exit" class="btn btn-primary" onclick="ExitButton();" >Exit</button>
                    </div>
        
                </div>
            </div>
    
        </div>
        
        <img id="imgXNALogo" src="../Images/xnalogo.png" class="clsXNALogo" onclick="XNALogoLink();" />
        <img id="imgFRBLogo" src="../Images/FRBLogo.png" class="clsFRBLogo" onclick="FlatRedBallLogoLink();" />
                
        <div data-partial="MainMenu/PopUpBoxes/AccountNotActivatedPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/ConfirmLogoutPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/LoginPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/SuccessPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/UserProfileEditorPartial.html"></div>

        
    </div>
</body>
</html>
