<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <link rel="stylesheet" href="../Styling/Shared/bootstrap-slate.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />


    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/jquery.awesomiumXNA.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/MainMenu.js"></script>

    <script>
        $(document).ready(function () {
            Initialize();
        });
    </script>
</head>
<body>

    <div class="container">

        <img src="../Images/WinterEngineLogo.png" class="clsMainMenuLogo" />
    
        <div class="col-lg-offset-7 col-lg-2">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align:center;">
                    <h3 class="panel-title">Main Menu</h3>
                </div>

                <div class="panel-body" style="text-align:center;">

                    <div class="btn-group-vertical" style="width:100%;">
                    
                        <button id="btnLoginLogout" type="button" value="Login" class="btn btn-primary" 
                            onclick="LoginButton();" data-mode="login" >Login</button>
                        <button id="btnFindServer" type="button" value="Find Server" class="btn btn-primary" disabled="disabled" onclick="FindServerButton();">Find Server</button>
                        <button id="btnProfile" type="button" value="My Profile" class="btn btn-primary" disabled="disabled" onclick="OpenUserProfileBox();" >My Profile</button>
                        <button id="btnToolset" type="button" value="Toolset" class="btn btn-primary" onclick="ToolsetButton();" >Toolset</button>
                        <button id="btnSettings" type="button" value="Game Settings" class="btn btn-primary" onclick="SettingsButton();" >Game Settings</button>
                        <button id="btnWebsite" type="button" value="Website" class="btn btn-primary" onclick="WebsiteButton();" >Website</button>
                        <button id="btnForums" type="button" value="Forums" class="btn btn-primary" onclick="ForumsButton();" >Forums</button>
                        <button id="btnExit" type="button" value="Exit" class="btn btn-primary" onclick="ExitButton();" >Exit</button>
                    </div>
        
                </div>
            </div>
    
        </div>
                
        <div data-partial="MainMenu/PopUpBoxes/AccountNotActivatedPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/ConfirmLogoutPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/LoginPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/SuccessPartial.html"></div>
        <div data-partial="MainMenu/PopUpBoxes/UserProfileEditorPartial.html"></div>

        
    </div>
</body>
</html>
