<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />
    <link rel="stylesheet" href="../Styling/Game/ServerListStyles.css" />
    <link rel="stylesheet" href="../Styling/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    
    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="../Scripts/jquery.awesomiumXNA.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/jquery.dataTables.min.js"></script>
    <script src="../Scripts/ServerList.js"></script>

</head>
<body>
    <div id="divServerListContent">
        <h2 class="clsTitle">Server List</h2>
        
        <div id="divLoading">
            <label id="lblLoading">Retrieving server list...</label>
        </div>

        <table id="tblServerList" class="clsServerList">
            <thead>
                <tr>
                    <td>Server Name
                    </td>
                    <td>Address
                    </td>
                    <td>Max Level
                    </td>
                    <td>Players
                    </td>
                    <td>Game Type
                    </td>
                    <td>PVP Type
                    </td>
                    <td>Connect
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
        <br />
        
        <input id="btnGetAllServers" class="clsFullButton" value="Get Servers" type="button" onclick="GetAllServers();" />
        <br />
        <br />
        <input id="btnMainMenu" class="clsFullButton" value="Return to Main Menu" type="button" onclick="GoToMainMenu();" />

        <div id="divConnectingToServer">
            <label id="lblConnectingToServer">
                Please wait while a connection to the server is established.
            </label>
            <br />
            <br />

            <div id="divDownloadProgress" class="clsHidden">
            </div>
            <br />
            <input id="btnCancel" type="button" value="Cancel" class="clsFullButton" onclick="CancelConnectToServer();" />
        </div>

        <div id="divUnableToConnectToServer">
            <label id="lblUnableToConnectToServer">
                Unable to establish connection to server.
            </label>
            <br />
            <br />
            <input id="btnUnableToConnectOK" type="button" value="OK" class="clsFullButton" onclick="UnableToConnectToServerClose();" />
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            Initialize();
        });

    </script>

</body>
</html>
