<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link rel="stylesheet" href="../Styling/Shared/bootstrap.css" />
    <link rel="stylesheet" href="../Styling/Game/SharedStyles.css" />

    <script src="../Scripts/jquery-2.0.3.min.js"></script>
    <script src="../Scripts/jquery.awesomiumXNA.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/jquery.jstree.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/knockout-2.3.0.js"></script>
    <script src="../Scripts/knockout.viewmodel.js"></script>
    <script src="../Scripts/jquery.blockUI.js"></script>
    <script src="../Scripts/Toolset.ViewModel.js"></script>
    <script src="../Scripts/Toolset.Initialization.js"></script>
    <script src="../Scripts/Toolset.ObjectTreeViews.js"></script>
    <script src="../Scripts/Toolset.MenuBar.js"></script>
    <script src="../Scripts/Toolset.ObjectBar.js"></script>
    <script src="../Scripts/Toolset.ObjectTabs.js"></script>
</head>
<body>

    <div id="divGlobalContainer">

        <div class="row">
            <div class="col-xs-12">
                <div data-partial="Toolset/MenuBarPartial.html"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div data-partial="Toolset/ObjectBarPartial.html"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-3">
                <div data-partial="Toolset/TreeViewPartial.html"></div>
            </div>
            <div class="col-xs-5">
                <div data-partial="Toolset/ObjectControls/ConversationEditor.html"></div>
                <div data-partial="Toolset/ConversationEditorPartial.html"></div>
                <div data-partial="Toolset/GridControls/AbilityGridPartial.html"></div>
                <div data-partial="Toolset/GridControls/SkillGridPartial.html"></div>
                &nbsp;
            </div>

            <div class="col-xs-4" onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">
                <div id="divObjectTabContainer" style="overflow:auto;">
                    <div data-partial="Toolset/ObjectControls/AreaObjectControlPartial.html"></div>
                    <div data-partial="Toolset/ObjectControls/ConversationObjectControlPartial.html"></div>
                    <div data-partial="Toolset/ObjectControls/CreatureObjectControlPartial.html"></div>
                    <div data-partial="Toolset/ObjectControls/ItemObjectControlPartial.html"></div>
                    <div data-partial="Toolset/ObjectControls/PlaceableObjectControlPartial.html"></div>
                    <div data-partial="Toolset/ObjectControls/ScriptObjectControlPartial.html"></div>
                    <div data-partial="Toolset/ObjectControls/TilesetObjectControlPartial.html"></div>
                </div>

                <div data-partial="Toolset/ObjectControls/ApplyDiscardChangesPartial.html"></div>
            </div>
            
        </div>


        <div data-partial="Toolset/AreaFooterPartial.html"></div>

        <!-- Pop up boxes -->
        <div data-partial="Toolset/PopUpBoxes/NewModulePartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/OpenModulePartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/SaveModuleAsPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/ErfImportExportPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/ModulePropertiesPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/AboutPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/AlertPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/NewObjectPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/ConfirmDeleteObjectPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/CreateCategoryPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/RenameTreeNodePartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/ManageContentPackagesPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/LocalVariableEditorPartial.html"></div>
        <div data-partial="Toolset/PopUpBoxes/ConfirmDeleteLocalVariablePartial.html"></div>
        <!-- End pop up boxes -->


    </div>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $.blockUI({
            message: 'Loading, please wait...' 
        });
    });

</script>
