body
{
    margin: 0px;
}

/* Navigation Menu */

.ui-menu
{
    overflow: hidden;
    
}

.ui-menu .ui-menu
{
    overflow: visible !important;
}

.ui-menu > li
{
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu ul li
{
    display: block;
    float: none;
}

.ui-menu ul li ul
{
    left: 120px !important;
    width: 100%;
}

.ui-menu ul li ul li
{
    width: auto;
}

.ui-menu ul li ul li a
{
    float: left;
}

.ui-menu > li
{
    margin: 2px 2px !important;
    padding: 0 0 !important;
}

.ui-menu > li > a
{
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}

.ui-menu .ui-menu-icon
{
    margin-top: 0.3em !important;
}

.ui-menu .ui-menu .ui-menu li
{
    float: left;
    display: block;
}

.ui-accordion .ui-accordion-content
{
    padding: initial;
}

/* Transparent Fillers */
/* Used to prevent UI from hiding game rendering*/

.clsFillerMain
{
    float: left;
    background-image:url('../../Images/Filler.png');
    width: 59%;
    height: 95%;
}

/* Object Bar */

.clsObjectBarDiv
{
    text-align: center;
}

.clsActiveObjectType
{
    border: 1px solid #26b3f7;
	background: #0972A4 url(../jQueryUI/images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
    font-weight: normal;
	margin: -1px;
	text-decoration: none;
}

/* Tree View */

.clsTreeViewContainerDiv
{
    min-height: 80%;
    max-height: 80%;

    min-width: 20%;
    max-width: 20%;
}

.clsTreeViewDiv
{
}


/* Object Tabs Container */

.clsObjectTabContainer
{
    max-height: 500px;

    min-width: 30%;
    max-width: 30%;
}