/* Navigation Menu */

.ui-menu
{
    overflow: hidden;
}

.ui-menu .ui-menu
{
    overflow: visible !important;
}

.ui-menu > li
{
    float: left;
    display: block;
    width: auto !important;
}

.ui-menu ul li
{
    display: block;
    float: none;
}

.ui-menu ul li ul
{
    left: 120px !important;
    width: 100%;
}

.ui-menu ul li ul li
{
    width: auto;
}

.ui-menu ul li ul li a
{
    float: left;
}

.ui-menu > li
{
    margin: 5px 5px !important;
    padding: 0 0 !important;
}

.ui-menu > li > a
{
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
}

.ui-menu .ui-menu-icon
{
    margin-top: 0.3em !important;
}

.ui-menu .ui-menu .ui-menu li
{
    float: left;
    display: block;
}

/* Object Bar */

.clsObjectBarDiv
{
    text-align: center;
    padding-top: 2px;
}

.clsActiveObjectType
{
    border: 1px solid #ffaf0f;
	background: #f58400 url(images/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #ffffff;
    font-weight: normal;
	margin: -1px;
	text-decoration: none;
	background-image: url(images/ui-icons_222222_256x240.png);
}

/* Tree View */

.clsTreeViewDiv
{
    float: left;
    width: 15%;
}
