
<div id="divDeleteCharacterPopUpBox">
    <div class="row-fluid">&nbsp;</div>
    <div class="row-fluid clsCenter">
        <label id="lblDeleteCharacterConfirmation">
            Are you sure you want to permanently delete your character?
        </label>
    </div>
    <div class="row-fluid">&nbsp;</div>

    <div class="row-fluid">
        <div id="divDeleteCharacterLoadingBar" class="clsProgressBar clsHidden"></div>
    </div>

    <div class="row-fluid">&nbsp;</div>

    <div class="row-fluid clsCenter">

        <input id="btnConfirmDeleteCharacter" type="button" value="Delete" onclick="ConfirmDeleteCharacterButton();" />
        <input id="btnCancelDeleteCharacter" type="button" value="Cancel" onclick="CancelDeleteCharacterButton();" />
    
    </div>
</div>