<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">

    <div id="divDeleteCharacterResponsePopUpBox" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete Character?
                </div>
                <div class="modal-body">
                    <label data-bind="text: DeleteCharacterResponseMessage"></label>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
