
<div id="divLoading">
    <div class="row">&nbsp;</div>
    <div class="row clsCenter">
        <label id="lblLoading">
            Retrieving server information...
        </label>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="clsProgressBar"></div>
    </div>
    <div class="row">&nbsp;</div>
    
    <div class="row clsCenter">

        <input id="btnCancelLoading" type="button" value="Cancel" class="clsFullButton" onclick="CancelCharacterSelectionButton();" />

    </div>

</div>
