<div onmouseover="Entity.MouseEnterUI();" onmouseout="Entity.MouseExitUI();">

    <div id="divLostConnection" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <label id="lblLoading">
                        Connection Lost
                    </label>
                </div>
                <div class="modal-body">
                    
                    <label id="lblLostConnection">
                        Your connection to the server has been lost.
                    </label>

                </div>

                <div class="modal-footer">
                    <button id="btnLostConnectionOK" class="btn btn-primary" onclick="LostConnectionOKButton();">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>